<!-- <app-adminheader>
      <span style="display: block; position: relative;">


          <img src="/assets/images/manage-article-img.jpg" alt="#" style="width: 100%;  ">

              <button mat-button routerLink="/admin_category_manager" style="    width: 10.3%;
    height: 3.5%;
    position: absolute;
    left: 2.7%;
    top: 29%; "></button>


            <button mat-button routerLink="/admin_article_manager" style="      width: 9.8%;
    height: 3.5%;
    position: absolute;
    left: 13.1%;
    top: 29%; "></button>



            <button mat-button routerLink="/add_article" style="  width: 8.4%;
    height: 3.9%;
    position: absolute;
    right: 3.7%;
    top: 33.6%;"></button>

      </span>
    <app-adminfooter></app-adminfooter>
</app-adminheader> -->

<app-adminheader>


        <span class="admwrapper">
                <!-- <img src="/assets/images/manage-article-img.jpg" alt="#" style="width: 100%;  "> -->
            <span class="adminnerbannerwrapper"> 
                <mat-card-content class="adminnerbanner"> 
                    <span class="innerbannercontainer">
                                <span class="innerbannerimage">
                                    <span class="innerbannerimagemain">
                                        <img src="/assets/images/admbanner-testimonial.jpg" alt="#">
                                    </span>
                                </span>
                                <span class="content">
                                    <mat-card-title class="adminnerbannertitle">Article</mat-card-title>
                                    <span class="adminnerbannerpara">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </span>
                                </span>
                    </span>
                </mat-card-content>        
                <mat-tab-group class="tabwrapper">
                    <mat-tab>
                                    <ng-template mat-tab-label>
                                        <h2 class="innertitle2">Article List</h2>
                                    </ng-template>          
                                  <ng-template matTabContent>    
                                    <span class="bloglists">      
                                    
                                        <mat-card>
                                            <span class="searchblock">
                                                <span class="searchblockwrapper">
                                                    <span>
                                                        <h2>Manage Article</h2>
                                                    </span>
                                                    <span>
                                                        <button class="singleButton singleButtonblack" mat-raised-button color="primary" [routerLink]="['/manage-article/add']"><i class="material-icons">add</i> Add Article</button>
                                                    </span>                    
                                                </span>
                                            </span>
                                            <span class="tablediv">

                                                    <lib-listing *ngIf="blogListConfig != null && blogListConfig.length>0"
                                                            [datasource]="blogListConfig"
                                                            [skip]="blogListConfig_skip" 
                                                            [modify_header_array]="blogListConfig_modify_header"
                                                            [sourcedata]="blogListTableName" 
                                                            [apiurl]="apiService.serverUrl"
                                                            [editroute]="blogListEditUrl"
                                                            [jwttoken]="apiService.accesstoken"
                                                            [statusarr]="blogListStatus" 
                                                            [updateendpoint]="blogListUpdateEndpoint" 
                                                            [deleteendpoint]="blogListDeleteEndpoint"
                                                            [date_search_endpoint]="blogListSearchingEndpoint" 
                                                            [date_search_source]="blogListView" 
                                                            [search_settings]="blogListSearch_settings"
                                                            [detail_skip_array]="blogListDetail_skip_array">
                                                        </lib-listing>

                                                     <!-- to listing library -->
                            <!-- <lib-listing-blogmanagementlib class="formfilterdiv" *ngIf="blogListConfig != null && blogListConfig.length > 0" [config]="blogListConfig"></lib-listing-blogmanagementlib> -->
        
                                                <!-- <lib-listing-blogmanagementlib class="formfilterdiv" *ngIf="blogListConfig.datasource != null && blogListConfig.datasource.length > 0" [config]="blogListConfig"></lib-listing-blogmanagementlib> -->
                                            </span>
                                        </mat-card>
                                    </span>
                                  </ng-template>
                    </mat-tab>
                    <mat-tab>            
                                    <ng-template mat-tab-label>
                                      <h2>Article Catagory List</h2>
                                    </ng-template>           
                                    <ng-template matTabContent>
                                        <span class="blogcatlists"> 
            
                                          <!-- Selector -->
                                          <mat-card>       
                                              <span class="searchblock">
                                                  <span class="searchblockwrapper">
                                                      <span>
                                                          <h2>Manage Article Category</h2>
                                                      </span>
                                                      <span>
                                                        <button class="singleButton singleButtonblack" mat-raised-button color="primary" [routerLink]="['/manage-article-category/add']"><i class="material-icons">add</i> Add Article Category</button>
                                                      </span>                    
                                                  </span>
                                              </span>
                                              <div class="tablediv">
                                                <!-- to listing library -->                                                
                                               <lib-listing *ngIf="articleCatConfig != null && articleCatConfig.length>0"
                                                    [datasource]="articleCatConfig"
                                                    [skip]="articleCatConfig_skip" 
                                                    [modify_header_array]="articleCatConfig_modify_header"
                                                    [sourcedata]="tableName" 
                                                    [apiurl]="apiService.serverUrl"
                                                    [editroute]="editUrl"
                                                    [jwttoken]="apiService.accesstoken"
                                                    [statusarr]="status" 
                                                    [updateendpoint]="UpdateEndpoint" 
                                                    [deleteendpoint]="deleteEndpoint"
                                                    [date_search_endpoint]="searchingEndpoint" 
                                                    [date_search_source]="view" 
                                                    [search_settings]="search_settings"
                                                    [detail_skip_array]="detail_skip_array">
                                                </lib-listing>
                                            
                                            
                                            </div>
                                      </mat-card>
                                        </span>
                                    </ng-template>
                    </mat-tab>                      
                </mat-tab-group>                  
            </span>
        </span>

    <app-adminfooter></app-adminfooter>
</app-adminheader>
    