.contact_banner{display: block; width: 100%; padding: 0; clear: both; overflow: hidden; outline: none!important; border: none!important; margin: 0!important; border-radius: 0px!important; box-shadow: none!important; background: url("../../../../assets/images/ourphysiciansbanner.png") no-repeat right top!important; background-size: 1920px!important; height: 376px!important;}

.contact_banner_wrapper{ width: 100vw; height: 376px; display: table-cell; text-align: center; vertical-align: middle;  }

.contact_banner_wrapper_text{ width: 770px; margin: 0 0 0 24%; display: block;}

.contact_banner_wrapper_text h2{ margin: 0; padding: 0; font-size: 60px; color: #13b9af; font-family:"HelveticaBold";}

.contact_banner_wrapper_text h3{ display: block; width: 525px; margin: 0 auto; margin-top: 20px; background: url("../../../../assets/images/contact_banner_textimg.png") no-repeat center bottom; padding-bottom: 40px; font-size: 24px; color: #3d3d3d; font-family: 'Helvetica-Normal'; font-weight: normal; line-height: 28px; }

.asgpcontainer{width: 1660px; display: block; margin: 0 auto;box-shadow: none; padding: 0;background: none;}
.ceadchnbarcontainer mat-list-item input{
    height: 37px !important;
    width: 96%;
    padding: 0 2% !important;
    border: 1px solid #adaeae;
    margin-left: 10px;
    background: #fff;
}

.ceadchnbarcontainer {width: 99%; padding: .5%;display: flex;background: #eaf0f2; margin: 42px 0 30px 0;}
.gpsearchbtn{
    height: 37px;
    background-color: #13b9af;
    color: #fff;
    border-radius: 0;
    margin: 0 2px;
    text-align: center;
    width: 120px;
}
.gpsearchbuttonwrapper{width: 250px !important;}

.gplist2{
    width: 100%;
    color: #5d6669;
    font-size: 24px;
    font-family: 'Helvetica-Normal';
    font-weight: normal;
    border-bottom: 3px solid #96a6af;
    margin-bottom: 42px !important;
    display: block;
}
.gplist2 span{color: #03a9e1;}


.Team_members_block{ width: 100%; margin: 20px auto; display: flex; flex-wrap: wrap; }
.Team_members_block .team_items { width: 23%; background: #fff; border: 1px solid #dadada; position: relative; min-height: 200px; text-align: center; margin: 0.9%;  
    margin-top: 160px;margin-bottom: 40px;}
.Team_members_block .team_items .member_image  {
    position: absolute;
    top: -159px;
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    left: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    height: 286px;
 }


.Team_members_block .team_items .member_image img{ max-width: 100%;min-height: 100%;}
.Team_members_block .team_items .member_content_wrapper .title{ font-family: "HelveticaBold"; font-size: 20px; color: #151515;  text-transform: uppercase; }
.Team_members_block .team_items .member_content_wrapper .phone{ font-family: "Helvetica-Normal"; font-size: 20px; color: #151515; margin: 10px 0; border-bottom: 2px solid #ddd;
    padding-bottom: 5px;}
.Team_members_block .team_items .member_content_wrapper .email{ font-family: "Helvetica-Normal"; font-size:16px; color: #151515; margin: 10px 0; margin-bottom: 0;}
.Team_members_block .team_items .member_content_wrapper .short_desc{ font-family: "Helvetica-Normal"; font-size: 16px; color: #151515;   }
.Team_members_block .team_items .member_content_wrapper h4{ font-family: "Helvetica-Normal"; font-size: 20px; color: #151515; font-weight: normal;margin: 0;}
.Team_members_block .team_items .member_content_wrapper { margin-top: 45%; padding: 0 20px; }
.Team_members_block .team_items  .view_details{ font-family: "HelveticaBold"; font-size: 30px; background: #13b9af; color: #fff; border-radius: 0; width: 100%; font-weight: normal; text-transform: uppercase; padding: 10px; padding-top: 15px;  }
.Team_members_block .team_items:nth-child(odd) .view_details {background: #3ec5f2;}

.team_items:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -16px;
    width: 76%;
    height: 310px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.03);
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
}
.team_items:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -16px;
    width: 74%;
    height: 300px;
    transform: translate(-50%, -50%);
    background: #ffffff;
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
}

.loadmorebtn{font-family: 'Helvetica-Normal'; font-size: 16px; color: #424242; display: inline-block; width: 96%; padding: 1%; text-align: center;
     background-color: #eaf0f2; margin: 0 auto;margin-bottom: 30px; margin-top: -25px;cursor: pointer;}


@media screen and (max-width: 1840px){
    .contact_banner_wrapper_text {
        margin: 0 0 0 18%;
    }
}
@media screen and (max-width: 1800px){
.total_team_sec { width: 90%; }
}
@media screen and (max-width: 1740px){
    .contact_banner_wrapper_text {
        margin: 0 0 0 14%;
    }
}
@media screen and (max-width: 1700px){
    .asgpcontainer{width: 96%;}
}
@media screen and (max-width: 1620px){
    .contact_banner{
        background-position: right -140px top !important;
    }
}
@media screen and (max-width: 1600px){
    .Team_members_block .team_items .member_image {
        height: 241px;
    }
    .team_items:after {
        top: -39px;
        height: 262px;}
        .team_items:before {
            top: -39px;
            height: 270px;}

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 34%;
    }
}

@media screen and (max-width: 1500px){
.Team_members_block .team_items .member_content_wrapper {
    margin-top: 35%;
     padding: 0 20px;
    }
}
@media screen and (max-width: 1460px){
    .contact_banner_wrapper_text {
        margin: 0 0 0 6%;
    }
}
@media screen and (max-width: 1400px){

.Team_members_block .team_items .member_content_wrapper {
    margin-top: 40%;
}

}

@media screen and (max-width: 1620px){
    .contact_banner{
        background-position: right -261px top !important;
    }
}
@media screen and (max-width: 1300px){
    .Team_members_block .team_items {
        width: 31%;}

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 30%;
    }
}

@media screen and (max-width: 1199px){
    .contact_banner {
        background-position: right -196px top !important;
        background-size: 280% !important;
        padding-top: 57%;
        padding-bottom: 25px !important;
        height: auto !important;
        background-color: #edf1f2!important;
    }
    .contact_banner_wrapper_text {
        margin: 0 auto;
        width: auto; display: block; padding: 0 15px;
    }
    .contact_banner_wrapper{height: auto; }
    .contact_banner_wrapper_text h3{width: 94%;}

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 34%;
    }
}

@media screen and (max-width: 1024px){

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 40%;
    }
}
@media screen and (max-width: 991px){

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 26%;
    }
    .ceadchnbarcontainer{
        flex-wrap: wrap;
        padding: 2% .5%;
    }
    .Team_members_block .team_items {
        width: 47%;
    }
    .Team_members_block .team_items .member_image{width: 229px;left: 50%; transform: translatex(-50%);}
    .team_items:after{width: 247px;}
    .team_items:before{width: 255px;}
    .ceadchnbarcontainer mat-list-item span{width: 94px;}
    .gpsearchbuttonwrapper{margin: 0 auto;}

}

@media screen and (max-width: 900px) {

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 30%;
    }

}
@media(max-width:767px) {
    .contact_banner{  background-size: 390%!important; padding-top: 82%;  background-position: 88% top!important; }

    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 35%;
    }

}
@media screen and (max-width: 680px){
    .Team_members_block .team_items {
        width: 100%;
    }
    .Team_members_block .team_items .member_content_wrapper {
        margin-top: 115px;
    }
}

@media screen and (max-width: 600px){
    .contact_banner_wrapper_text h3{width: 100%;}
}
@media screen and (max-width: 480px){
    .contact_banner{background-position: right -123px top !important;}
    .contact_banner_wrapper_text h2{font-size: 46px;}

    .ceadchnbarcontainer mat-list-item input{ width: 82%;}
}


