<app-homefrontendheader></app-homefrontendheader>


<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
 <span class="contact_banner_wrapper_text">
         <h2>Find a Doctor </h2>
        <h3>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>


<mat-card class="asgpcontainer">
  <span class="searchbarwrapper">
    <mat-list class="ceadchnbarcontainer">
        <mat-list-item><span> Doctors:</span> <input matInput type="text"> </mat-list-item>
        <mat-list-item><span>Location:</span>   <input matInput type="text"> </mat-list-item>
        <mat-list-item><span>Speciality:</span>   <input matInput type="text"></mat-list-item>
        <mat-list-item class="gpsearchbuttonwrapper"><button mat-button class="gpsearchbtn">Search</button> <button mat-button class="gpsearchbtn">Reset</button> </mat-list-item>
    </mat-list>
  </span>
  <h2 class="gplist2"><span>1000</span> Doctors found</h2>

<span class="Team_members_block">
    <mat-card-content class="team_items">
        <mat-card-content class="member_image">
            <img src="../../../../assets/images/gpimg1.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image">
            <img src="../../../../assets/images/gpimg2.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg3.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg4.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg5.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg6.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg7.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg8.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg9.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg10.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg11.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/gpimg12.png">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">William K. Ruppert</mat-card-title>
            <p class="phone"> Pediatric Oncologist</p>
            <p class="email">Clinical Expertise: Leukemia</p>
            <p class="short_desc">Location: New York, New York.</p>
            <h4>For Appointment: 145-458-7852</h4>
                <h4>Office: 785-758-5522</h4>
        </mat-card-content>
        <button mat-button class="view_details" color="primary" routerLink="/ourphysiciansdetail">view details</button>
    </mat-card-content>
    
    <a class="loadmorebtn">Load More</a>
    
</span>


</mat-card>

<app-homefrontendfooter></app-homefrontendfooter>