<app-homefrontendheader></app-homefrontendheader>

<span style="display: block; position: relative;">
<img src="/assets/images/ourphysicians_img.jpg" alt="#" style="width: 100%; ">

    <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 8.2%;
    top: 42.9%;
    "></button>

    <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 29.2%;
    top: 42.9%;
    "></button>

        <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 50.1%;
    top: 42.9%;
    "></button>

     <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 71%;
    top: 42.9%;
    "></button>



     <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 8.2%;
    top: 68.1%;
    "></button>

      <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 29.2%;
    top: 68.1%;
    "></button>

        <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 50.1%;
     top: 68.1%;
    "></button>

     <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 71%;
     top: 68.1%;
    "></button>



        <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 8.2%;
    top: 93.2%;
    "></button>

       <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 29.2%;
top: 93.2%;
    "></button>

        <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 50.1%;
    top: 93.2%;
    "></button>

     <button mat-button routerLink="/ourphysiciansdetail" style="   width: 20.7%;
    height: 2.9%;
    position: absolute;
    left: 71%;
    top: 93.2%;
    "></button>

</span>

<app-homefrontendfooter></app-homefrontendfooter>