<app-homefrontendheader></app-homefrontendheader>

<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
 <span class="contact_banner_wrapper_text">
         <h2>Grace Medical Contact Us</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>




<mat-card class="contact_text1">
   <h2>Grace Medical is located in 3 different towns in Wyoming.</h2>

    <span class="contact_info_block">

      <span class="contact_info_block_wrapper">

          <span class="contact_info_block_text">

              <span class="contact_info_block_text1">
                 <h3>Locations</h3>

                  <h4>1155 Pearl Dr,<br/>
Rock Springs WY 82901</h4>
                  <h5><a href="tel:+307-320-0820">307-320-0820</a></h5>
                  <h6><a href="mailto:gracemhrs@gracemedical.com" target="_top">gracemhrs@gracemedical.com</a></h6>

<hr>
                   <h4>104 Marshall Ave,<br/>
Green River, WY 82935</h4>
                  <h5><a href="tel:+307-320-0820">307-320-0821</a></h5>
                  <h6><a href="mailto:gracemhrs@gracemedical.com" target="_top">gracemhrs@gracemedical.com</a></h6>
<hr>

                   <h4>245 Lansing Dr, Casper,<br/>
WY 82601</h4>
                  <h5><a href="tel:+307-320-0820">307-320-0823</a></h5>
                  <h6><a href="mailto:gracemhrs@gracemedical.com" target="_top">gracemhrs@gracemedical.com</a></h6>


              </span>
              <span class="contact_info_block_text2">
                  <h3>Business Hours</h3>

                  <label>
                      Monday:
                      <strong>8:00am - 5:00pm</strong>

                  </label>

                  <label>
                      Tuesday:
                      <strong>8:00am - 5:00pm</strong>

                  </label>

                  <label>
                      Wednesday:
                      <strong>8:30am - 5:00pm</strong>

                  </label>

                  <label>
                      Thursday:
                      <strong>8:00am - 5:00pm</strong>

                  </label>


                  <label>
                      Friday:
                      <strong>8:00am - 5:00pm</strong>

                  </label>

                  <label>
                      <p>Lunch Hours:</p>
                      Monday-Friday :
                      <strong>12:00pm -1:15pm</strong>

                  </label>

              </span>



               <span class="clear"></span>
          </span>

          <span class="contact_info_block_map">


              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.95295001372!2d-109.21708238426866!3d41.591900591254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875a60ec6fefe9a3%3A0xe38374307123e0c8!2s1155%20Pearl%20St%2C%20Rock%20Springs%2C%20WY%2082901%2C%20USA!5e0!3m2!1sen!2sin!4v1573726785702!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </span>



          <span class="clear"></span>
    </span>

    </span>


</mat-card>


<mat-card class="contact_text2">

    <h2>Let's Connect</h2>

    <lib-contactus [serverUrl]="serverUrl"
                   [addEndpoint]="addEndpoint"
                   [routeingUrl]="routeingUrl"
                   [formTitle]="formTitle"
                   [modaleLogo]="modaleLogo"> </lib-contactus>

</mat-card>
<app-homefrontendfooter></app-homefrontendfooter>