<mat-card class="ami_footer">

    <mat-card-content class="ami_footer1_wrapper">
     <span class="footer_left">
         <h2>Newsletter</h2>



         <span class="newsletterbox">

               <label>Subscribe to our newsletter</label>

 <form [formGroup]="myform" name="myform" (ngSubmit)="doSubmit()">
  <mat-form-field>

        <input matInput placeholder="Email Address" id="newsEmail" [formControl]="myform.controls['email']">
  </mat-form-field>


      <button  mat-raised-button><img src="/assets/images/footer_btn_icon.png"></button>

      <mat-error *ngIf="myform.controls['email'].touched && !myform.controls['email'].valid
           && myform.controls['email'].errors.required">
                  Email field can not be blank</mat-error>

                <mat-error *ngIf="myform.controls['email'].touched && !myform.controls['email'].valid
                && myform.controls['email'].errors.pattern">

                  Email is not Valid</mat-error>


<span class="clear"></span>
        </form>

                 <span>We’ll never share your email address</span>



         </span>


     </span>
     <span class="footer_right">
         <h2>Useful Links</h2>


          <span class="ami_footer1_menu">



                 <button mat-button routerLink="/home">Home</button>|
    <button mat-button routerLink="/ourphysicians">Our Physicians</button>|
    <button mat-button routerLink="/appointment">Appointments</button>|
    <button mat-button routerLink="/services">Services</button>|
    <button mat-button routerLink="/journals">Journals</button>|
    <button mat-button routerLink="/imagegallery">Image Gallery</button>|
    <button mat-button routerLink="/videogallery">Video Gallery</button>|
    <button mat-button routerLink="/testimonial">Testimonial</button>|
    <button mat-button routerLink="/contactus">Contact Us</button>



               <span class="clear"></span>
           </span>


         <span class="footer_logo" routerLink="/home">  <img src=" /assets/images/footer_logo.png" alt="#" ></span>


          <span class="ami_footer1_menu_right">

              <span> <img src=" /assets/images/footer_icon1.png" alt="#" ></span>
              <span> <img src=" /assets/images/footer_icon2.png" alt="#" ></span>
              <span> <img src=" /assets/images/footer_icon3.png" alt="#" ></span>
              <span> <img src=" /assets/images/footer_icon4.png" alt="#" ></span>
              <span> <img src=" /assets/images/footer_icon5.png" alt="#" ></span>


                 <span class="clear"></span>

              <span class="copyright">Copyright © -2019 GRACE MEDICAL</span>
            </span>

     </span>


    <span class="clear"></span>



    </mat-card-content>









</mat-card>
