<mat-card-content class="loginBg">
    <mat-card-content class="image_wrapper">

<lib-forget-password [formTitle]="formTitle" class="formgenrl login-form" [serverUrl]="serverUrl" [signUpRouteingUrl]="signUpRouteingUrl" [addEndpoint]="addEndpoint"  [logo]="logo" [buttonName]="buttonName" [loginRouteingUrl]="loginRouteingUrl"> </lib-forget-password>
<!-- <lib-forget-password [formTitle]="formTitle" class="formgenrl login-form" [serverUrl]="serverUrl" [signUpRouteingUrl]="signUpRouteingUrl" [domanUrl]="domanUrl" [addEndpoint]="addEndpoint"  [logo]="logo" [buttonName]="buttonName" [loginRouteingUrl]="loginRouteingUrl"> </lib-forget-password> -->


    </mat-card-content>

</mat-card-content>

