<app-homefrontendheader></app-homefrontendheader>



<mat-card class="journals_banner">
    <span class="journals_banner_wrapper">
 <span class="journals_banner_wrapper_text">
         <h2>Medical Journals</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>








       <button mat-button routerLink="/journalsdetail" style="    width: 8.2%;
    height: 1.6%;
    position: absolute;
    left: 31.6%;
    top: 92.1%;"></button>


<app-homefrontendfooter></app-homefrontendfooter>