<app-homefrontendheader></app-homefrontendheader>

<mat-card class="journals_banner">
    <span class="journals_banner_wrapper">
 <span class="journals_banner_wrapper_text">
         <h2>Medical Journals</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>

<mat-card class="journals_wrapper">

    <mat-card-content class="journals_block_left">

        <span class="journals_search">

            <form>

                <mat-form-field >
                 <input matInput placeholder="Enter a search term ">
               </mat-form-field>

                 <mat-form-field >
                 <input matInput placeholder="Enter a search term ">
               </mat-form-field>

                   <button>Search</button>
   <span class="clear"></span>

        </form>
        </span>

        <span class="clear"></span>

        <span class="journals_blog" *ngFor="let journal of journalListing | slice:0:indexval ; let i=index">

            <span class="journals_blog_left">
                <h2 (click)="blogdetail(journal._id)">{{journal.blogtitle}}</h2>

                <h3>{{journal.author}}, {{journal.date}} </h3>

                <span class="bnticons">
                    <button *ngIf="journal.video_url !='' && journal.video_url !=null " (click)="openvideourl(journal.video_url)"><img src="/assets/images/videoicon.png"></button>
                    <button *ngIf="journal.video_url !='' && journal.video_url !=null " (click)="openvideourl(journal.video_url)"><img src="/assets/images/audioicon.png"></button>
                </span>

                <h4 class="truncate">
                    <span [innerHtml]="journal.description"></span>
                </h4>

                <button class="journalsreadmore" (click)="blogdetail(journal._id)">Read more</button>
                <span class="clear"></span>
            </span>
            <span class="journals_blog_right">
                <span class="journals_blog_right_wrapper_outer">
                    <span class="journals_blog_right_wrapper" (click)="blogdetail(journal._id)">
                        <img src="{{journal.image}}" alt="#">                        
                    </span>
                    <span class="journals_blog_share">
                        <!-- <img src="/assets/images/share_this_1.png" alt="#" >
                        <img src="/assets/images/share_this_2.png" alt="#" >
                        <img src="/assets/images/share_this_3.png" alt="#" >
                        <img src="/assets/images/share_this_4.png" alt="#" >
                        <img src="/assets/images/share_this_5.png" alt="#" >
                        <img src="/assets/images/share_this_6.png" alt="#" > -->

                        <a class="sociallink fa fb" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fjournals%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_1.png" alt="#" >
                        </a>

                        <a class="sociallink fa twi" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fjournals%2F{{journal._id}}" target="_blank"><img src="/assets/images/share_this_2.png" alt="#" >
                        </a>

                        <a class="sociallink fa tumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fjournals%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_7.png" alt="#" >
                        </a>
                         
                        <a class="sociallink fa lin" href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fjournals%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_4.png" alt="#" >
                        </a>

                        <a class="sociallink fa share" (click)="copyText('https://dev.gracemedical.influxiq.com/journals%2F?affid='+journal._id)">
                            <img src="/assets/images/share_this_6.png" alt="#" >
                        </a>


                    </span>
                </span>
                 
        </span>
        <span class="clear"></span>
        </span>
        <button class="blog_loadbtn"  *ngIf="journalListing !=null && indexval < journalListing.length" (click)="blogloadmore()">Load More</button>
    </mat-card-content>
    <mat-card-content class="journals_block_right">
        <h2>Category ({{ blogcategorycount }})</h2>
        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="3">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="4">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="3">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="5">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="2">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label matBadge="4">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </mat-panel-description>

            </mat-expansion-panel>

        </mat-accordion> -->
        <mat-tree [dataSource]="blogCategoryDataSource" [treeControl]="nestedTreeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let item" matTreeNodePadding>
              <li class="mat-tree-node">
                <button mat-icon-button disabled></button>
                {{ item.blogtitle }}
              </li>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let item; when: hasNestedChild">
              <li>
                <div class="mat-tree-node">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + item.blogtitle">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{
                        nestedTreeControl.isExpanded(item)
                          ? "expand_more"
                          : "chevron_right"
                      }}
                    </mat-icon>
                  </button>
                  <span class="blogcategorycls"><span class="blogcountcls">{{ item.blogcategorycount }}</span> {{ item.blogtitle }} </span>
                </div>
                <ul *ngFor="let journal of journalListing; let i = index" [class.example-tree-invisible]="
                    !nestedTreeControl.isExpanded(item)
                  ">
                  <ng-container matTreeNodeOutlet>
                      {{ journal.blogtitle }}
                  </ng-container>
                </ul>
              </li>
            </mat-tree-node>
          </mat-tree>
    </mat-card-content>

    <span class="clear"></span>

</mat-card>

<app-homefrontendfooter></app-homefrontendfooter>