<app-homefrontendheader></app-homefrontendheader>
<mat-card class="gallery_banner">
    <span class="gallery_banner_wrapper">
 <span class="gallery_banner_wrapper_text">
         <h2>Specializing in You</h2>
        <h3>Our team of doctors, nurses,
and full staff will produce
a plan tailored to your specific needs.  </h3>
 </span>
    </span>

</mat-card>


<mat-card class="gallery_wrapper">

    <span  class="gallery_wrapper_heading">
        <h2>image gallery</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </h3>

    </span>




    <ul>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
           <span class="gallery_img_box"><img src="/assets/images/gallery_img1.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

            <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img2.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

            <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>



        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img3.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>


              <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img4.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>



            <button class="galleryreadmore" (click)="openDialog()">Read more</button>

                 <span class="clear"></span>

            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>


        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img1.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

             <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img2.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

           <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>



        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img3.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>


              <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img4.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>



            <button class="galleryreadmore" (click)="openDialog()">Read more</button>

                 <span class="clear"></span>

            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>


        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img1.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

            <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img2.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

          <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>



        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img3.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>


           <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img4.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>



              <button class="galleryreadmore" (click)="openDialog()">Read more</button>

                 <span class="clear"></span>

            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img1.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

          <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img2.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>

            <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>



        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img3.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>


            <button class="galleryreadmore" (click)="openDialog()">Read more</button>
 <span class="clear"></span>
            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

        <li>

            <img src="/assets/images/image_icon.png" alt="#" class="image_icon" >
            <span class="gallery_img_box"><img src="/assets/images/gallery_img4.jpg" alt="#" ></span>
            <span class="gallery_con_box">
            <label>Lorem Ipsum Lorem Ipsum Lorem  </label>

          <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. </p>



            <button class="galleryreadmore" (click)="openDialog()">Read more</button>

                 <span class="clear"></span>

            <span class="gallery_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>
            </span>

        </li>

    </ul>






</mat-card>


<app-homefrontendfooter></app-homefrontendfooter>