<app-homefrontendheader></app-homefrontendheader>

<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
        <span class="contact_banner_wrapper_text">
            <h2>Grace Medical Testimonials </h2>
            <h3>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
        </span>
    </span>

</mat-card>

<mat-card class="ptb-40 generalcls testimonialwrapper" style="text-align: center;">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>Testimonials</h2>
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">

        <mat-list role="list">
            <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialList | slice:0:indexval; let i=index">
                <mat-card>
                    <span class="testiimgwarpper">
                        <span class="testiimgwarpper-main">
                            <img src="{{testmon.testimonial_image}}" class="iconcls">
                        </span>
                    </span>
                    <mat-card-content class="testicontent">
                        <span class="testibottomcontent">
                            <mat-card-title class="title1">{{testmon.name}}</mat-card-title>
                        </span>
                        <span class="quatation">
                            <p class="truncate">
                                <img class="quotestarticon"
                                    src="../../../../assets/images/quotestart-icon.png"><span [innerHTML]="testmon.description"></span><img class="quoteendicon"
                                    src="../../../../assets/images/quoteend-icon.png">
                            </p>
                            <a> read more</a>
                        </span>                       
                            
                    </mat-card-content>
                </mat-card>
                <span class="contentsection absolute">  
                    <span class="blogsociallists">
                        <a class="videoicon" *ngIf="testmon.video_url !='' && testmon.video_url !=null " (click)="openvideourl(testmon.video_url)">
                            <img src="../../../../assets/images/videoicon.png">
                        </a>
                        <!-- <a class="audioicon"><img src="../../../../assets/images/audioicon.png"></a> -->
                    </span>                              
                    <span class="author">
                        <p class="date">Date: {{testmon.date_added}}</p>
                    </span>                                    
                </span>
            </mat-list-item>   
        </mat-list>
    </span>
</mat-card>



















<!-- <img src="/assets/images/testimonial_img.jpg" alt="#" style="width: 100%; "> -->


<app-homefrontendfooter></app-homefrontendfooter>