<mat-card class="homeblock3">

    <mat-card class="homeblock3_wrapper">

         <h2>Services</h2>

    <ul>

        <li>
            <h3>Annual Wellness Exams</h3>

             <span class="services_li_img"><img src="/assets/images/home_ser_img1_main.png" alt="#"></span>
             <span class="services_li_img2"><img src="/assets/images/home_ser_img1.png" alt="#"></span>

            <span class="services_li_text">

                At Grace Medical Clinic, your
family’s health is our first priority. Our family medicine doctors work with patients of all ages—from children to teens, adults and the elderly. They care for all your general medical needs, including primary care, child and seasonal immunizations, along with routine physicals, checkups, and more. They also treat a variety of illnesses and are a good foundation for recommending appropriate
specialists.

                  <button mat-button routerLink="/services" class="homeblock3sublink">Know more</button>
            </span>

        </li>


        <li>
            <h3>Dietary and Nutrition Guidance</h3>

            <span class="services_li_img"><img src="/assets/images/home_ser_img2_main.png" alt="#"></span>
            <span class="services_li_img2"><img src="/assets/images/home_ser_img2.png" alt="#"></span>

            <span class="services_li_text">

             Our program offers surgical and non-surgical weight-loss pathways. Our expert team will help you choose the solution that is right for you. The goal of our program is to help people experience the life-changing effects of non-surgical and surgical weight-loss solutions. Our caring and
compassionate team of weight-loss specialists will be with you every step of the way as you improve your health and<br/> quality of life.

                  <button mat-button routerLink="/services" class="homeblock3sublink">Know more</button>

            </span>

        </li>


        <li>
            <h3>Pain Management </h3>

            <span class="services_li_img"><img src="/assets/images/home_ser_img3_main.png" alt="#"></span>
            <span class="services_li_img2"><img src="/assets/images/home_ser_img3.png" alt="#"></span>

            <span class="services_li_text">

              Grace Pain Solutions was established to improve the quality of life for patients who suffer from acute or chronic pain. Our highly skilled
physicians have specialties in pain management, anesthesiology,
neurology, psychiatry, clinical
psychology, physical medicine, and neurosurgery.

  <button mat-button routerLink="/services" class="homeblock3sublink">Know more</button>


            </span>

        </li>
        <span class="clear"></span>
    </ul>


    <span class="clear"></span>

    <button mat-button routerLink="/services" class="homeblock3link">View Services</button>
</mat-card>

</mat-card>