<mat-card class="homeblock3">

    <mat-card class="homeblock3_wrapper">

         <h2>Services</h2>

    <ul>

            

        <li *ngFor="let item of serviceListConfig">
            <h3>{{item.service_title}}</h3>
            <span class="homeservicemainimgwrappeer">
                <mat-card-content class="homeserviceimg">
                    <span class="imgwraooer">
                        <img src="{{item.service_img }}" alt="#">
                    </span>
                </mat-card-content>
            <span class="services_li_text">
                At Grace Medical Clinic, your
family’s health is our first priority. Our family medicine doctors work with patients of all ages—from children to teens, adults and the elderly. They care for all your general medical needs, including primary care, child and seasonal immunizations, along with routine physicals, checkups, and more. They also treat a variety of illnesses and are a good foundation for recommending appropriate
specialists.

                  <button mat-button routerLink="/services" class="homeblock3sublink">Know more</button>
            </span>
        </span>
        </li>
       
        <span class="clear"></span>
    </ul>


    <span class="clear"></span>

    <button mat-button routerLink="/service" class="homeblock3link">View Services</button>
</mat-card>

</mat-card>