<mat-card class="homeblock3">

    <mat-card class="homeblock3_wrapper">

         <h2>Services</h2>

    <ul>

            

        <li *ngFor="let item of serviceListConfig">
            <h3>{{item.service_title}}</h3>
            <span class="homeservicemainimgwrappeer">
                <mat-card-content class="homeserviceimg">
                    <span class="imgwraooer">
                        <img src="{{item.service_img }}" alt="#">
                    </span>
                </mat-card-content>
            <span class="services_li_text">
                <span [innerHtml]="item.description"></span>
                  <button mat-button routerLink="/services" class="homeblock3sublink">Know more</button>
            </span>
        </span>
        </li>
       
        <span class="clear"></span>
    </ul>


    <span class="clear"></span>

    <button mat-button routerLink="/service" class="homeblock3link">View Services</button>
</mat-card>

</mat-card>