body{ margin: 0!important; padding: 0!important;}
@font-face{font-family:"Helvetica-Regular";

    src:url(../fonts/Helvetica-Normal.eot);src:url(../fonts/Helvetica-Normal.eot?#iefix) format("embedded-opentype"),url(../fonts/Helvetica-Normal.woff2) format("woff2"),url(../fonts/Helvetica-Normal.woff) format("woff"),url(../fonts/Helvetica-Normal.ttf) format("truetype"),url(../fonts/Helvetica-Normal.svg#Helvetica-Normal) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:"HelveticaBold";

    src:url(../fonts/Helvetica-Bold.eot);src:url(../fonts/Helvetica-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Helvetica-Bold.woff2) format("woff2"),url(../fonts/Helvetica-Bold.woff) format("woff"),url(../fonts/Helvetica-Bold.ttf) format("truetype"),url(../fonts/Helvetica-Bold.svg#Helvetica-Bold) format("svg");font-weight:700;font-style:normal}




@font-face {font-family: 'Helvetica-Normal';

    src: url('../fonts/Helvetica-Normal.eot');src: url('../fonts/Helvetica-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Normal.woff2') format('woff2'), url('../fonts/Helvetica-Normal.woff') format('woff'), url('../fonts/Helvetica-Normal.ttf') format('truetype'), url('../fonts/Helvetica-Normal.svg#Helvetica-Normal') format('svg'); font-weight: normal; font-style: normal;}



.images{ display: block; position: relative; }
 .images img{ max-width: 100%; }

 .tab_pannel{ width: 165px;  
    position: fixed;
    right: 0;
    top: 20%;
    display: block;
    background: #1bdcff;
    box-shadow: -1px 1px 7px 2px #4a3131;}

    .tab_pannel .mat-list-base{padding: 0;}
    .tab_pannel .mat-list-base .mat-list-item,
    .tab_pannel .mat-list-base .mat-list-option {
        display: block;
        height: 48px;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        padding: 0;
        background: #01b2d3;
        margin: 5px 0;
        color: #fff;
    }

    .images .tapi{ background: red;}


.loderbody{width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; background: #1c73ca;}

.loderpagelogo{margin:0 auto; margin-bottom:30px; width: auto; max-width: 90%;}

.loader{border:16px solid #064785;border-top:16px solid #fff;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;margin:0 auto;}
@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}


.admwrapper{width: 96%; margin: 40px auto; display: block;}
.admwrapper .mat-card{box-shadow: none !important; padding: 0;}

/*---Inner Banner css----*/

.innerbannercontainer {
    overflow: hidden;
    height: 231px;
    display: block;
  }
  
  .innerbannerimage {
    width: 53%;
    height: 231px;
    margin: 0 0 0 -100px;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    transform: skew(40deg);
    overflow: hidden;
    position: relative;
    display: block;
  }
  
  .innerbannerimage .innerbannerimagemain img {    
    position: absolute;
    top: -50%;
    left: 0%;
    right: 6px;
    bottom: 0;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-40deg);
    display: block;
  }


.adminnerbanner{background-color: #7db4d0;}
.adminnerbanner .adminnerbannertitle.mat-card-title {font-size: 48px !important; color: #fff !important;  font-family: "HelveticaBold"; text-transform: uppercase !important;}
.adminnerbanner .adminnerbannerpara p {font-size: 20px; color: #292929; font-family: "HelveticaBold"; margin: 0; line-height: 24px;}
.adminnerbanner .innerbannercontainer{position: relative;}
.adminnerbanner .content{position: absolute;right: 0;z-index: 99;top: 50%;transform: translate(-0%, -50%);width: 45%; padding: 24px;}

.searchblock .buttonsetToolbar.mat-toolbar {background: none !important;padding: 0 0px;}
.searchblock .buttonsetToolbar.mat-toolbar-single-row {height: auto !important;padding: 0 0px;}

.singleButton{}
.singleButtonblack{background-color: #323233 !important; border-radius: 0 !important;}

/*---End Inner Banner css----*/



.formfilterdiv {}
.formfilterdiv table td br {display: none;}
.tablediv .searchbar {padding-right: 0;}
.tablediv .searchbar .mat-form-field .mat-form-field-appearance-legacy .mat-form-field-infix {padding: 0px 0px!important;background: #ababab !important;}




/*---Table CSS---*/
.tablewrapper{overflow-x: auto;}
.tablediv table {border-collapse: collapse; border-spacing: 0; width: 100%; border: 1px solid #ddd;}
.tablediv table th, .tablediv table td {text-align: left; padding: 8px;}
.tablediv table caption {font-size: 1.5em; margin: .5em 0 .75em;}
.tablediv table tr {background-color: #ffffff; border:0px; display: table-row; color:#ffffff;}
.tablediv table tr:nth-child(odd) {background-color: #dde2e5;}
.tablediv table tr:last-child{border-bottom: 0px !important;}
.tablediv table tr:last-child td{border-bottom: 0px !important;}
.tablediv lib-listing .container {width: 100%;padding: 0px;}
.tablediv table .empycell{border-bottom: 0px solid #ffffff !important;}
.tablediv table th, .tablediv table td {text-align: left; display: table-cell; border-bottom: 1px solid #959595 !important;}
.tablediv table th {font-family:'Helvetica-Normal'; text-transform:uppercase; font-size:15px; color:#fff; background:#33333a; padding:10px; letter-spacing: .1em; text-transform: capitalize;}
.tablediv table td {font-family:'Helvetica-Normal';font-size:16px;padding:6px;white-space: normal;word-break: break-word;  color: rgba(0,0,0,.87);}
.tablediv table td br{display: none;}
.tablediv table td.text-center{text-align: center !important;}
.tablediv table th.descriptiondiv{width: 26%;}
.norecordfound{color: #ee680f !important; padding: 18px !important; text-align: center !important; text-transform: uppercase !important;}
.tablediv .btnedit, .tablediv .btndelete, .tablediv .btnedit:hover, .tablediv .btndelete:hover{padding: 6px 5px !important; text-align: center; display: -webkit-box; display: -moz-box;
 display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal;
 -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; align-items: center; justify-content: center; font-size: 12px; margin: 2px !important; color:#fff !important;
 margin: 0px 0px 5px 0px !important;}
.tablediv .btnedit span, .tablediv .btndelete span{padding-left: 5px;}
.tablediv .btnedit:last-child, .tablediv .btndelete:last-child{margin-bottom: 0px !important;}
.tablediv .btndelete, .tablediv .btndelete:hover{background: rgba(227,75,75,1); background: -moz-linear-gradient(top, rgba(227,75,75,1) 0%, rgba(181,33,33,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,75,75,1)), color-stop(100%, rgba(181,33,33,1)));
background: -webkit-linear-gradient(top, rgba(227,75,75,1) 0%, rgba(181,33,33,1) 100%); background: -o-linear-gradient(top, rgba(227,75,75,1) 0%, rgba(181,33,33,1) 100%); background: -ms-linear-gradient(top, rgba(227,75,75,1) 0%, rgba(181,33,33,1) 100%);
background: linear-gradient(to bottom, rgba(227,75,75,1) 0%, rgba(181,33,33,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e34b4b', endColorstr='#b52121', GradientType=0 );}
.tablediv .btnedit, .tablediv .btnedit:hover{background: rgba(67,179,2,1); background: -moz-linear-gradient(top, rgba(67,179,2,1) 0%, rgba(79,138,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,179,2,1)), color-stop(100%, rgba(79,138,21,1))); background: -webkit-linear-gradient(top, rgba(67,179,2,1) 0%, rgba(79,138,21,1) 100%);
background: -o-linear-gradient(top, rgba(67,179,2,1) 0%, rgba(79,138,21,1) 100%); background: -ms-linear-gradient(top, rgba(67,179,2,1) 0%, rgba(79,138,21,1) 100%);
background: linear-gradient(to bottom, rgba(67,179,2,1) 0%, rgba(79,138,21,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b302', endColorstr='#4f8a15', GradientType=0 );
}
.tablediv table td button span{padding-left: 5px;}
.tablediv table td button, .tablediv table td button:hover{padding: 6px 5px !important; text-align: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;
display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal;-webkit-flex-direction: row; -ms-flex-direction: row;
flex-direction: row; align-items: center; justify-content: space-between; font-size: 9px; margin: 2px; color:#fff !important; border: none !important; text-transform: uppercase;
outline: none;}
.tablediv table td button:focus{outline: none !important; border: 0px !important;}
.graburlcls .linktxt1, .graburlcls .linktxt2{ background: transparent !important;}
.graburlcls .linktxt1 span{color:#2ed0ff;  font-size: 13px; text-transform: capitalize;}
.graburlcls .linktxt2 span{color:#f7a311; font-size: 13px; text-transform: capitalize;}

.statusactive{color:#70c71d;}
.statusinactive{color:#f58b8b;}
.statuspendinng{color:#FF8C00;}

.tablediv table tr.content{background-color: #676767 !important;}
.tablediv table tr.content .empycell{background-color: #4f4f4f !important;}
.tablediv table tr.content tr{background-color: transparent !important;}
.tablediv table tr.colorblue td.empycell{color:#fff !important; background-color: transparent !important;}
.noborder table tr{background-color: rgba(97, 97, 97, 1);}
.tablediv table tr.graybgwcolorblack td{color:#0b0b0b; background-color: rgba(139, 139, 139, 1);}
.tablediv table tr.content1.colorblue .txtbluenew td{color:#4acbda;}
.tablediv table tr.content2 td{color: #fff !important;}
.noborder{border:0px !important; padding: 0px !important;}
.tablediv table th .mat-sort-header-button{text-transform: capitalize;}
.tablediv table th.empycell, .tablediv table td.empycell { width:2.5%; text-align: left;}
.tablediv .container{background: transparent !important; width: 100%;margin-bottom: 10px;}
.tablediv .container br{display: none;}
.tablediv .mat-card{background: transparent !important; padding: 0;margin-top: 5px;}
.tablediv .mat-paginator{background-color: #0fc47e;margin-top: 5px; width: 100%;}
.tablediv table.mat-table {width: 100%;}

/*---Action section disable----*/
.tablediv.actionsectionhide table.mat-table thead th:last-child{display: none;}
.tablediv.actionsectionhide table.mat-table tbody td:last-child{display: none;}
/*---Action section disable----*/
/*---checkbox section disable----*/
.tablediv.actionsectionhide table.mat-table thead th:first-child{display: none;}
.tablediv.actionsectionhide table.mat-table tbody td:first-child{display: none;}
/*---checkbox section disable----*/

.tablediv table.mat-table tr .mat-footer-cell {color: #fff;}
.tablediv table.mat-table .mat-checkbox-frame {border-color: rgba(0, 0, 0 ,.54) !important;}
.tablediv .mat-paginator .mat-button.mat-accent[disabled], .tablediv .mat-paginator .mat-button.mat-primary[disabled], .tablediv .mat-paginator .mat-button.mat-warn[disabled], .tablediv .mat-paginator .mat-button[disabled][disabled], .tablediv .mat-paginator .mat-icon-button.mat-accent[disabled], .tablediv .mat-paginator .mat-icon-button.mat-primary[disabled], .tablediv .mat-paginator .mat-icon-button.mat-warn[disabled], .tablediv .mat-paginator .mat-icon-button[disabled][disabled], .tablediv .mat-paginator .mat-stroked-button.mat-accent[disabled], .tablediv .mat-paginator .mat-stroked-button.mat-primary[disabled], .tablediv .mat-paginator .mat-stroked-button.mat-warn[disabled], .tablediv .mat-paginator .mat-stroked-button[disabled][disabled] {color: #fff;}
.tablediv .mat-paginator,.tablediv .mat-paginator-page-size .mat-select-trigger { color: #f1f1f1;}
.tablediv .mat-paginator .mat-form-field-infix .mat-select { padding: 0px 5px; color: #f1f1f1;}
.tablediv .mat-paginator .mat-select-value {color: #333; caret-color: #333 !important;}
.tablediv .mat-paginator .mat-select-arrow {color: #333;}
/* .tablediv .mat-card .mat-form-field-flex {margin-top: 0px; background-color: #fff !important; border: 0px solid #efefef;}
.tablediv .mat-card .mat-input-element{color: #333 !important; caret-color: #f1f1f1 !important;}
.tablediv .mat-card .mat-form-field-label-wrapper {position: absolute; left: 0; box-sizing: content-box; width: 100%; height: 100%; overflow: hidden; pointer-events: none; border-bottom: 1px solid #fff;}
.tablediv .mat-card .mat-form-field-label-wrapper{top: -1em; padding-top: 1em;} */
.tablediv button.mat-raised-button{display: inline-block!important; height: auto!important; background: #cc3333!important; font-size: 12px!important; color: #fff!important;
text-transform: uppercase!important; font-family: 'Ralewaybold'; text-decoration: none!important;  line-height: normal!important; text-align: center!important; margin: 0 auto!important; white-space: normal!important; margin-top: 10px!important; padding: 12px 10px!important; border-radius: 0px !important; margin-right: 5px !important;margin-bottom: 10px !important; z-index: 99;}
.mat-select-panel-wrap .mat-select-panel {background: #969696;}
.mat-select-panel-wrap .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {background: rgba(0,0,0,.22);}
.mat-select-panel-wrap .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {color: #f1f1f1;}

.formfilterdiv {margin-top: -10% !important;}
.formfilterdiv .container{width: 100%;}

.tablediv{margin-top:0px;}
.tablediv .searchbar {padding-right: 0; flex-direction: row-reverse; justify-content: inherit !important; margin-top: 0px; margin-bottom: 8px; z-index: 9;
  height: auto;}
.tablediv .searchbar .mat-form-field{z-index: 99; position: relative;margin-left: 10px;}
.tablediv .mat-form-field-flex {align-items: stretch; padding: 5px 6px !important;}
.tablediv table td span .material-icons{color: #4f5051 !important;}
.tablediv .mat-form-field-appearance-legacy .mat-form-field-infix{line-height: 32px; padding: 10px 5px;}
.tablediv table .actionnewbtn span{cursor:pointer;}
.tablediv.trainingtablediv{margin-top:0px !important;}
.tablediv.trainingtablediv table {margin-top: 27px;}

.searchblock{margin: 0; padding: 0; position: relative; display: block;}
.searchblock .btnorange{min-width: 160px; border-radius: 0px; padding: 9px 18px 7px !important; margin: 0 !important; display: flex !important; align-items: center;}
.searchblock{background: #dde2e5 !important; padding: 10px 10px 10px 22px !important;display: block; margin:10px auto !important;}
.searchblock span{display: flex; align-items: center; position: relative; z-index: 99;margin-left: 5px;}
.searchblock .searchblockwrapper {display: flex; align-items: stretch; justify-content: space-between; flex-direction: row;}
.searchblock span h2{font-family: "Helvetica-Normal"; color:#373b3d; font-size: 24px!important;margin: 0;}

.tablediv .searchbar .mat-form-field .mat-form-field-infix{margin-bottom: 0;height: 32px!important;}

/* .bloglists .tablediv {margin-top: -73px;} */

.tablediv .searchbar .mat-form-field .mat-form-field-prefix, .tablediv .searchbar .mat-form-field .mat-form-field-suffix {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.tablediv .searchbar .mat-form-field {border: 1px solid #efefef;}

.tablediv table td.mat-column-Actions{width: 98px;}	
.tablediv table th.mat-column-date_added{width: 114px;}

.paginator .mat-form-field-label-wrapper{    padding-top: 0;}
.paginator .mat-form-field-appearance-legacy .mat-form-field-infix {line-height: normal;}

