@media(max-width:1800px) {
    .admwrapper {
        width: 96%;
        margin: 0 auto;
        display: block;
      }
}

@media only screen and (max-width: 1350px) {

    .tablediv .searchbar {height: auto;}
    .bloglists .tablediv .searchbar, .blogcatlists .tablediv .searchbar {padding: 9px !important;}
    .tablediv .searchbar {flex-wrap: wrap;}
    .tablediv .searchbar .mat-form-field {margin: 4px !important;}
    }

@media only screen and (max-width: 991px) {	
    .tablediv {margin-top: 0;}        	
    .tablediv table td{text-align: right !important;}		
    .tabblock .tablists ul li.nav-item a.nav-link {font-size: 20px; line-height: 24px;  padding: 15px 15px;}		
    .tablediv table td.tablebuttondiv{border:0px !important;border-bottom: 0px solid #ffffff !important;}		
    .tablediv table td.norecordfound{border:0px !important;border-bottom: 0px solid #ffffff !important; font-size: 16px;}		
    .tablediv table td.norecordfound{border:0px !important;border-bottom: 0px solid #ffffff !important; font-size: 16px;}		
    .tablediv table td.tablebuttondiv{ padding-left: 0px !important;}		
    .tablediv table td.empycell{border:0px !important;border-bottom: 0px solid #ffffff !important; display: none;}		
    .tablediv table tr:last-child td.empycell {border-bottom: 0px solid #ddd !important;}		
    /* .tablediv table tr:last-child td {border-bottom: 0px solid #ddd !important;}		 */
    .newcheckboxdiv {text-align: left; float: right;}		
    .tablediv table th, .tablediv table td {border-bottom: 1px solid #c0c1c3 !important;}		
    .tablediv table td {padding: 10px;}		
    .tablediv.affiliatetree table.mat-table tr:nth-child(even){background-color: #353434;}		
    .n-audiodeadeline_admin_header .n-audiodeadeline_admin_header_user .n-audiodeadeline_user {width: 37px; height: auto;}		
    .tablediv.affiliatetree table th, .tablediv.affiliatetree table td {width: 100%;}		
    .n-socialsinglepostcontentinner {padding: 0px; width: 48.33%;margin: .5% 1%;}		
    .n-sponsorblocklists {justify-content: center;}		
    .tablediv table td.text-center {text-align: right !important;}		
    .tablediv .btnedit, .tablediv .btndelete, .tablediv .btnedit:hover, .tablediv .btndelete:hover {display: inline-block; float: none; margin-left: auto; margin-right: auto;}		
    .tablediv table {border: 0;}		
    .tablediv table caption {font-size: 1.3em;}		
    .tablediv table thead {border: none;clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}		
    .tablediv table tr {border-bottom: 0px solid #c0c1c3; width: 100%; margin-bottom: .625em;}		
    .tablediv table td {border-bottom: 1px solid #c0c1c3; display: block; font-size: 13px; text-align: right; padding-left: 25%;}
    .tablediv table tr:last-child td{border-bottom: 1px solid #c0c1c3 !important;}

    .adminlisttable .whitebtnlists {text-align: right!important;}		
    .tablediv table td button, .tablediv table td button:hover{float: right;}		
    .tablediv table td:first-child::before {content: attr(data-label) !important; float: left;  font-weight: bold; text-transform: uppercase; text-align: left; margin-left: -18px;		
     color: #000;}		
    .adminlisttable.adminlisttabledashboard .tablediv table tr {display: table-row !important;}		
    .tablediv table td:last-child::before {content: attr(data-label) !important; float: left; font-weight: bold; text-transform: uppercase; text-align: left; color: #000;}		
    /* .tablediv table td::after {content: attr(data-label);float: left;font-weight: bold; text-transform: uppercase; text-align: left; margin-left: -33%; color: #000;}		 */
    .tablediv table td::after{display: none;}
    .tablediv .mytranningcategory .admin_table_wrapper table td::before {content: attr(datalabel) !important; float: left;font-weight: bold;text-transform: uppercase; text-align: left;		
    margin-left: 0%; color: #000;}		
    .tablediv table td::before {content: attr(title); float: left; font-weight: bold; text-transform: uppercase; text-align: left;margin-left: -33%;color: #000;}		
    .tablediv table td:last-child {border-bottom: 0;} 
    .tablediv table td.mat-column-Actions {
        width: auto;
        padding-right: 10px;
    }		
    .inner_wrapper .rightpannel {
        width: 89% !important;
        box-sizing: border-box;
        position: relative;
    }
    .tablediv {
        overflow-x: inherit;
    }
}