body{ margin: 0!important; padding: 0!important;}
@font-face{font-family:"Helvetica-Regular";

    src:url(../fonts/Helvetica-Normal.eot);src:url(../fonts/Helvetica-Normal.eot?#iefix) format("embedded-opentype"),url(../fonts/Helvetica-Normal.woff2) format("woff2"),url(../fonts/Helvetica-Normal.woff) format("woff"),url(../fonts/Helvetica-Normal.ttf) format("truetype"),url(../fonts/Helvetica-Normal.svg#Helvetica-Normal) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:"HelveticaBold";

    src:url(../fonts/Helvetica-Bold.eot);src:url(../fonts/Helvetica-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Helvetica-Bold.woff2) format("woff2"),url(../fonts/Helvetica-Bold.woff) format("woff"),url(../fonts/Helvetica-Bold.ttf) format("truetype"),url(../fonts/Helvetica-Bold.svg#Helvetica-Bold) format("svg");font-weight:700;font-style:normal}




@font-face {font-family: 'Helvetica-Normal';

    src: url('../fonts/Helvetica-Normal.eot');src: url('../fonts/Helvetica-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Normal.woff2') format('woff2'), url('../fonts/Helvetica-Normal.woff') format('woff'), url('../fonts/Helvetica-Normal.ttf') format('truetype'), url('../fonts/Helvetica-Normal.svg#Helvetica-Normal') format('svg'); font-weight: normal; font-style: normal;}



.images{ display: block; position: relative; }
 .images img{ max-width: 100%; }

 .tab_pannel{ width: 165px;  
    position: fixed;
    right: 0;
    top: 20%;
    display: block;
    background: #1bdcff;
    box-shadow: -1px 1px 7px 2px #4a3131;}

    .tab_pannel .mat-list-base{padding: 0;}
    .tab_pannel .mat-list-base .mat-list-item,
    .tab_pannel .mat-list-base .mat-list-option {
        display: block;
        height: 48px;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        padding: 0;
        background: #01b2d3;
        margin: 5px 0;
        color: #fff;
    }

    .images .tapi{ background: red;}


.loderbody{width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; background: #1c73ca;}

.loderpagelogo{margin:0 auto; margin-bottom:30px; width: auto; max-width: 90%;}

.loader{border:16px solid #064785;border-top:16px solid #fff;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;margin:0 auto;}
@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}




.homeblock6 .mat-icon-button{ color: #333!important;}


.homeblock6 .mat-icon-button:nth-of-type(1) {
    background: url("../images/home_tes_block_slide_left.png") no-repeat 6px 4px!important;
}

.homeblock6 .mat-icon-button:nth-of-type(2) {
    background: url("../images/home_tes_block_slide_right.png") no-repeat 10px 4px!important;
}
.homeblock6 .mat-icon{ display: none;}

@media(max-width:1199px) {

    .homeblock6 .mat-icon-button{ display: none!important;}
}

     /*----------------------------------------------------------------------------------*/


.carousel-slide {
    height: 100% !important;
    position: initial !important;
}

.carousel-slide-content {
    position: inherit !important;
}



.carousel-slide-overlay{ display: none!important;}


/*----------------------------------------------------------------------------------*/

.mat-form-field-flex {
    background: #fff; padding: 0 16px;
    padding-top: 0px; border: solid 1px #818282;
}

.mat-form-field-label {
    padding: 1px 0px!important;
}



.mat-form-field-appearance-legacy .mat-form-field-label, .mat-form-field-appearance-legacy .mat-hint {
    color: #000!important;
}


input.mat-input-element{        padding: 0px 0px!important;   height: 100%!important;   color: #000!important; }

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0!important;
}
.mat-form-field-type-mat-native-select .mat-input-element {
    padding-right: 15px;
   /* height: 46px!important;*/
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none !important;
}

.mat-form-field-infix{border-top: 0px!important;}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px 0px!important;
    background: #fff;

}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px!important;
}


.mat-form-field-type-mat-native-select .mat-input-element {
    height: 64px!important; padding-right: 30px!important;
}

.mat-form-field-label-wrapper {
    top: -62px!important;

    display: block!important;
}

textarea.mat-input-element {
    resize: none!important;
    color: #000!important;
    padding: 4px 0px!important;
    margin: 0px 0!important; height: 45px!important;
}


.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 8px!important;
}

.mat-form-field-type-mat-native-select .mat-input-element {  color: #000!important;  padding-left:16px!important;}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: block;
    padding: 8px 0!important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none!important;
}

input.mat-input-element {
    margin-top: 0!important;
}

.mat-form-field-type-mat-native-select .mat-form-field-infix::after{ right: 5px!important;}

.mat-form-field-label-wrapper {
    position: inherit!important;
    left: 0!important;

    width: 100%!important;
    height: 100%!important;
    overflow: inherit!important;

    background: none!important;
}

.mat-form-field-infix {
    height: 100%!important;
}
/*----------------------------------------------------------------------------------*/


.homeblock4_wrapper .doc_searcform .mat-form-field-flex{ border:solid 1px #edeeee!important; background: #fff!important; height: 50px;}

.mat-form-field-type-mat-native-select .mat-form-field-infix::after{ content: ''!important; background: url("../images/selectbg.jpg") no-repeat right center!important;     top: 0!important;
    font-size: 0px!important;
    border: none!important;
    width: 26px!important;
    height: 100%!important; margin: 0px!important; right: 0px!important; cursor: pointer!important;}


.selectfild .mat-form-field-flex{ padding: 0px!important;}






/*----------------contact us start------------------------*/

.contact_text2 .main-div{ display: block!important; height: auto!important;}
.contact_text2 .from{ display: block!important; height: auto!important; background: none!important;  border-radius: 0px!important; box-shadow: none!important; border: none!important; padding: 0px!important; width: 100%!important;}

 .contact_text2 .from h2{ display: none!important;}

.contact_text2 .mat-form-field-flex {
    background: #e3e8e8!important;
    border: none!important; margin: 4px 0!important;
}

.contact_text2 .mat-form-field-appearance-legacy   .mat-form-field-infix {
    padding: 0px 0px!important;
    background: #e3e8e8!important;
}

.contact_text2 .mat-form-field-label-wrapper {
    top: -62px!important;
    display: block!important;
}

.contact_text2  .mat-form-field-label-wrapper {
    padding-top: 0!important;
}

.contact_text2  input.mat-input-element {
    height: 50px!important;
}

.contact_text2 .mat-form-field-subscript-wrapper {
    position: inherit!important;
    margin: 0px!important;
}

.contact_text2 .mat-form-field-prefix, .contact_text2 .mat-form-field-suffix{ top: -10px!important; color: #193150!important;  }

.contact_text2 .from button{ width: 254px!important; height: 50px!important; float: right!important; background: #58a3ca!important; text-align: center!important; line-height: 58px!important; border: none!important; box-shadow: none!important; cursor: pointer!important; outline: none!important; font-size: 24px!important; color: #ffffff!important;font-family: 'Helvetica-Normal'!important; margin: 10px 0 0 0.5%!important; display: block!important; text-transform: uppercase!important; border-radius: 0px!important;}

.contact_text2 .example-container  {
    display: flex!important; flex-wrap: wrap!important;
    flex-direction: row!important; clear: both!important; overflow: hidden!important;
}

.contact_text2 .mat-form-field {
    display: block!important;}

.contact_text2 .fromClass:nth-child(1) { display: flex!important; margin: 0 0.5%; flex: 1 1 32.33%;  margin-bottom: 5px!important; }
.contact_text2 .fromClass:nth-child(2) { display: flex!important; margin: 0 0.5%; flex: 1 1 32.33%;  margin-bottom: 5px!important; }
.contact_text2 .fromClass:nth-child(3) { display: flex!important; margin: 0 0.5%; flex: 1 1 32.33%;  margin-bottom: 5px!important; }

.contact_text2 .fromClass { display: flex!important; margin: 0 0.5%; flex: 1;  margin-bottom: 5px!important; }

.contact_text2 .fromClass:nth-last-child(-n+3){ display: flex!important; flex:1 1 100%; float: none!important; clear: both!important; overflow: hidden!important; margin-bottom: 5px!important;}

.contact_text2 .fromClass:nth-last-child(-n+2) textarea{ height: 180px!important;}

.contact_text2 .fromClass:nth-last-child(-n+2) .mat-form-field-appearance-legacy .mat-form-field-label {
    top: -119px !important;
    transform: inherit !important;
}




/*----------------contact us end--------------------------*/


/*----------------journals start--------------------------*/

.journals_block_right .mat-content{ overflow: inherit!important;}

.journals_block_right  .mat-expansion-panel-spacing {
    margin: 0!important;
}

.journals_block_right .mat-expansion-panel{ border-radius: 0px!important; box-shadow: none!important;}

.journals_block_right mat-panel-description{ background: #13b9af!important; border-bottom: solid 1px #fff; color: #fff; padding-left: 20px!important;}

.journals_block_right .mat-expansion-panel-body {
    padding: 0!important;
}


.journals_block_right .mat-expansion-panel-header-description {
    display: block!important;
    margin-right: 0!important;
}

.mat-expansion-panel-header{ height: auto!important;  padding-top: 20px!important; padding-bottom: 20px!important;  padding-left: 20px!important;}

.journals_block_right .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {

    left: 20px!important;
}


.journals_block_right .mat-badge-content {
    color: #333!important;
    background: #95d03a!important;
}

.journals_search .mat-form-field-flex{ width: 465px!important; border: solid 1px #c6c7c8!important; height: 55px!important; font-size: 20px!important;}

.journals_search button{ width: 120px; height: 55px; float: right; background: #13b9af; border: none!important; outline: none!important; box-shadow: none!important; margin-left: 10px!important; font-size: 20px; color: #ffffff; cursor: pointer;}

.journals_search .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 15px;
}

@media(max-width:1600px) {
    .journals_search .mat-form-field-flex{ width: 390px!important;}

}

@media(max-width:1400px) {

    .journals_search .mat-form-field-flex{ width: 318px!important;}
}


@media(max-width:991px) {

    .journals_search .mat-form-field-flex{ width: 100%!important;}

    .journals_search button {
        width: 120px;
        height: 55px;
        float: none!important; margin-left: auto!important; margin-right: auto!important; margin-top: 10px!important; display: block!important;}

}

/*----------------journals end--------------------------*/

/* --------------------- gallery css start --------------- */
.mat-dialog-container{ padding: 4px!important;}
.galleryzoom_wrapper { background: #dcdedf!important; padding: 15px!important; width: 800px; box-shadow: none!important;}

.galleryzoom_wrapper img{ width: 100%; border: solid 1px #fff;}

.galleryzoom_wrapper label{ display: block; margin: 0; padding: 15px 0 5px 0; text-transform: uppercase; font-size: 24px; color: #221c17; font-family:"HelveticaBold"; text-align: left;}

.galleryzoom_wrapper p{  font-size: 14px; color: #000;  font-family: 'Helvetica-Normal'!important;  text-align: left; margin: 0; padding: 0;  }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0; display: block;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




@media(max-width:900px) {

    .galleryzoom_wrapper {padding: 4%!important; width:auto;  }
}


/*----------------gallery end--------------------------*/



/* --------------------- avijit css start --------------- */
.mat-list-base.serveceblockwrapper .mat-list-item.servecerow .mat-list-item-content{align-items: stretch !important;padding: 0;width: 100%;}
.mat-list-base.serveceblockwrapper .mat-list-item.servecerow:nth-child(even) .mat-list-item-content{flex-direction: row-reverse;}
.blockwraooer .mat-list-item.block .mat-list-item-content{flex-wrap: wrap;padding: 0;}

/* .mat-list-base .mat-list-item .mat-list-item-content{flex-wrap: wrap;} */


.generalcls .testibottomcontent .mat-card-title {font-size: 24px!important;line-height: normal!important; margin-bottom: 0px !important; padding-bottom: 15px;text-transform: uppercase; font-family: 'Helvetica-Normal'; text-align: center;}
.generalcls .testicontent .quatation p{text-align:left; font-size: 18px; font-family: 'Helvetica'; color: #505151;}
.generalcls .testicontent .quatation p .quotestarticon{ float: left; margin-right: 10px;margin-top: -10px; width: 28px;}
.generalcls .testicontent .quatation p .quoteendicon{float: right;margin-left: 10px; margin-bottom: -10px; width: 28px;}
.generalcls.blog .mat-card-title {font-size: 24px!important;line-height: normal!important;justify-content: space-between;    margin-bottom: 15px!important; margin-top: 15px!important;text-transform: capitalize;}

.contentsection .blogsociallists {margin-top: 0px;}

.quatation a {
    float: left;
    color: #1bbef7;
    text-transform: capitalize;
    font-size: 16px;
}


.updetailsubwrapper.mat-list-base .mat-list-item .mat-list-item-content{flex-wrap: wrap;padding: 0;}
.updetailsubwrapper.mat-list-base .mat-list-item.block2  .mat-list-item-content{padding-left: 25px;}


.testimonialwrapper .mat-list .mat-list-item.testimonialserv .mat-list-item-content{padding: 0; display: block; position: initial !important;}

.dashboardbanner{
    height: 500px;
    display: flex !important;
    align-items: center;
    background-image: url(../../assets/images/dashboardbanner1.png) !important;
    padding: 0 !important;
}
.topbannerblock{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
}

.dashboardcontainer{width: 1740px; display: block; margin: 0 auto;}

.dashboardtextwrapper h2{
    font-family: 'HelveticaBold';
    font-size: 48px;
    color: #33333a;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
}
.dashboardtextwrapper h2 span, .dashboardtextwrapper h3 span{color:#1c73ca;}
.dashboardtextwrapper h3{
    font-family: 'HelveticaBold';
    font-size: 30px;
    color: #33333a;margin: 0;
}

.dashboardbanner .dashboardtextwrapper{padding-right: 671px; margin: 0;}



.block2content{
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;padding: 0 !important;
}

.block2content .mat-list-item{width: 46% !important; padding: 16px !important;}


.table1{
    background: rgba(252,173,125,1);
    background: -moz-linear-gradient(left, rgba(252,173,125,1) 0%, rgba(248,201,108,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,173,125,1)), color-stop(100%, rgba(248,201,108,1)));
    background: -webkit-linear-gradient(left, rgba(252,173,125,1) 0%, rgba(248,201,108,1) 100%);
    background: -o-linear-gradient(left, rgba(252,173,125,1) 0%, rgba(248,201,108,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,173,125,1) 0%, rgba(248,201,108,1) 100%);
    background: linear-gradient(to right, rgba(252,173,125,1) 0%, rgba(248,201,108,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcad7d', endColorstr='#f8c96c', GradientType=1 );
}
.table2{
    background: rgba(61,247,235,1);
    background: -moz-linear-gradient(left, rgba(61,247,235,1) 0%, rgba(45,192,185,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,247,235,1)), color-stop(100%, rgba(45,192,185,1)));
    background: -webkit-linear-gradient(left, rgba(61,247,235,1) 0%, rgba(45,192,185,1) 100%);
    background: -o-linear-gradient(left, rgba(61,247,235,1) 0%, rgba(45,192,185,1) 100%);
    background: -ms-linear-gradient(left, rgba(61,247,235,1) 0%, rgba(45,192,185,1) 100%);
    background: linear-gradient(to right, rgba(61,247,235,1) 0%, rgba(45,192,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3df7eb', endColorstr='#2dc0b9', GradientType=1 );
}
.tabtitle{
    font-family: 'HelveticaBold';
    color: #fff;
    text-transform: uppercase;
    size: 30px;
    border-bottom: 1px solid rgba(0,0,0,.30);
    text-shadow: 0px 1px 0px #000;
    width: 100%;padding-bottom: 5px;
}

.block2content .mat-list-item .mat-list-item-content{padding: 0 !important;}



@media(max-width:1199px) {
    .mat-list-base.serveceblockwrapper .mat-list-item.servecerow .mat-list-item-content {
        align-items: stretch !important;
        padding: 0;
        flex-wrap: wrap;
    }
}
@media(max-width:768px) {
    .updetailsubwrapper.mat-list-base .mat-list-item.block2 .mat-list-item-content {
        padding-left: 0;
    }
}
.gpsearchbuttonwrapper .mat-list-item-content{padding: 0!important;}
/* --------------------- avijit css end ----------------- */






/* --------------------- login css start --------------- */

.loginBg .from:before{content: ""; background: url("../images/login_pageicon.png") no-repeat center center; width: 80px; height: 80px;      margin: 0 auto;
    margin-top: -64px; display: block;}
.loginBg .from { width:540px!important;  box-shadow: 0 0 10px #333!important; border-radius: 5px!important; background: rgba(232,237,237,1);
    background: -moz-linear-gradient(-45deg, rgba(232,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(232,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(232,237,237,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(232,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(232,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(232,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(232,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(232,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(232,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(232,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(232,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(232,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eded', endColorstr='#e8eded', GradientType=1 );}

.loginBg .from h2{ margin:12px 0 15px 0!important; padding: 0px!important; background: none!important; font-family:"HelveticaBold"!important; font-size: 30px!important; color: #333!important; text-transform: uppercase!important;}

.loginBg  .mat-form-field{ position: relative!important;}

.loginBg  .mat-form-field-label-wrapper{ padding-top: 0px;}

.loginBg  .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 22px!important; font-family: 'Helvetica-Normal'; font-size: 18px; color: #000;
}

.loginBg  .mat-input-element{ font-family: 'Helvetica-Normal'; font-size: 18px; color: #000;}

.loginBg .mat-form-field-flex{ height: 50px!important; border: solid 1px #d1d2d2!important;  margin-bottom: 25px!important; background: #f4fafa!important;}

.loginBg .mat-form-field-flex input{ background:  #f4fafa!important;}

.loginBg .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 0px!important;
}

.loginBg  .mat-raised-button{ background: rgba(73,155,234,1)!important;
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)))!important;
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 )!important;


    font-family:"HelveticaBold"; font-size: 24px!important; color: #fff!important; text-transform: uppercase!important; padding: 10px 0 5px 0!important;}
.loginBg  .signupfooter{ padding-top: 5px;}
.loginBg  .signupfooter a{font-family: 'Helvetica-Normal'; font-size: 16px; color: #000;}
.loginBg  .signupfooter a:last-of-type{ padding-right: 0px!important;}

.loginBg .logowrapper{ display: block!important; margin-top: 5px!important;}


.cdk-overlay-pane{ width: auto!important; height: auto!important; max-width: inherit!important;     display: block!important;}




.mat-dialog-actions {
    padding: 0px 0!important;
    display: block!important;
    min-height: inherit!important;
    margin-bottom: 0!important;
}


.mat-dialog-content {
    display: block!important;
    margin: 0 0px!important;
    padding: 0 0px!important;
    max-height: inherit!important;
    overflow: auto!important;}


snack-bar-container{ padding: 15px!important;}

snack-bar-container .example { background: none!important; font-size: 18px!important; color: #fff!important;}


.mat-dialog-container{
    display: inline-table !important
}
successmodal {
    display: block!important;
    padding: 15px!important;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}


successmodal button{height: 38px;
    background-color: #02a4ef!important;
    color: #fff!important;
    width: 10px!important; display: block!important;

    margin:5px auto!important;
    font-size: 18px!important;
    font-family: 'Helvetica-Normal'!important; line-height: 42px!important;}


@media(max-width:991px) {



    .loginBg {
        display: block!important; height: auto!important;
        padding:60px 0 20px 0!important;
    }



    .loginBg .main-div {
        height: auto!important;
        display: block!important;
    }

}

@media(max-width:768px) {
    .loginBg {
         height: 1024px!important;

    }

}

@media(max-width:736px) {
    .loginBg {
        height: auto!important;

    }

}

@media(max-width:640px) {

    .loginBg .from { width:380px!important;}

    .mat-dialog-container{ width: 96%!important; margin-left: auto!important; margin-right: auto!important; display: table!important;}
}





@media(max-width:460px) {

    .loginBg .from { width:260px!important;}

    successmodal{ width: auto!important;}
}


@media(max-width:414px) {
    .loginBg {
        height: 736px!important;

    }

}

@media(max-width:375px) {
    .loginBg {
        height: 812px!important;

    }

}

@media(max-width:375px) {
    .loginBg {
        height: 100vh!important;

    }

}

@media(max-width:320px) {
    .loginBg {
        height: 100vh!important;

    }

}

/*----------------login css end--------------------------*/





/*-----------------amitava 03/12/2019 start-----------------------*/


.newsletterbox .mat-form-field {
    display: inline-block!important;
    width: 300px!important;
}

.newsletterbox .mat-form-field-flex{ padding: 0px!important;}

.newsletterbox .mat-form-field-label-wrapper {
    top: 0;
    padding-top: 0;
    position: relative!important;
}

.newsletterbox  .mat-form-field-label-wrapper {
    top: 0px!important;}

.newsletterbox .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 0!important;
    padding: 0 2%!important;

    height: 36px!important;
    line-height: 36px!important;
}


.newsletter_modal {
    width: 480px;
    border: 2px solid #14b9af;
    border-radius: 5px!important;
    padding: 15px!important;
}

.newsletter_modal h2 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #14b9af;
    font-family: HelveticaBold;
}

.newsletter_modal h3 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0 15px;
    font-size: 18px;
    color: #111;
    font-family: Helvetica-Normal;
    font-weight: 400;
}

.newsletter_modal .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: auto;
    padding: 0px 15px!important;
    height: 36px!important;
    background: #e1e0e6!important;
    margin: 5px 0; height: 50px!important;
}

.newsletter_modal .mat-form-field{ display: block!important;}

.newsletter_modal .mat-form-field-flex{ display: block!important;  border: none!important; padding: 0px!important;}

.newsletter_modal button {
    color: #fff;
    background: #13b9af!important;

    font-size: 24px;
    line-height: normal;
    width: auto!important;
    height: auto!important;
    font-family: HelveticaBold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 14px 15px 8px!important;
    margin-top: 10px!important;
}

.newsletter_modal h4{ display: block; text-align: center; margin: 0; padding:10px 0 0px 0; font-size: 22px; color: #111;  font-family: 'Helvetica-Normal'; font-weight: normal;}

.newsletter_modalsuccess{ padding-top: 25px!important; padding-bottom: 25px!important;}
@media(max-width:540px) {

    .newsletter_modal {
        width:auto;}
}


@media(max-width:420px) {
    .newsletterbox .mat-form-field {
         width: 196px!important;
    }

}
/*-----------------amitava 03/12/2019 end-----------------------*/