
<mat-card class="homeblock7">
    <mat-card class="homeblock7_wrapper">

        <h2>gallery</h2>

        <ul>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img1.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img2.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img3.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img4.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img5.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <li>
                <span class="homegallerimg"><img src="/assets/images/gallery_img6.jpg" alt="#"></span>

                <span class="homegallertext">

                    Lorem Ipsum is simply dummy text of
the printing and typesetting industry.
                </span>

                <span class="homegallertext_footer">

                    <span class="homegallertext_span1">Julay 15/ 2019</span>
                    <span class="homegallertext_span2">
                        6  Comment
                        <span class="homegallertext_span2_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>

                    </span>


                     <span class="clear"></span>

                </span>

            </li>

            <span class="clear"></span>
        </ul>


        <button mat-button routerLink="/imagegallery" class="homeblock7link">View All</button>
    </mat-card>

</mat-card>
