<mat-card class="homeblock4">
    <mat-card class="homeblock4_wrapper">

        <h2>Doctors</h2>

        <span class="doc_searc">
            <label>Find a Doctor</label>

            <span class="doc_searcform">

                <form>


               <mat-form-field >
                 <input matInput placeholder="Doctor Name ">
               </mat-form-field>


          <mat-form-field class="selectfild">
              <select matNativeControl>
                  <option value="speciality1"> Speciality </option>
                  <option value="speciality2">Speciality </option>
                  <option value="speciality3">Speciality </option>

              </select>
            </mat-form-field>


               <mat-form-field >
                 <input matInput placeholder="location ">
               </mat-form-field>


                    <button>Search</button>
   <span class="clear"></span>
                </form>

<span class="clear"></span>
            </span>
            <span class="clear"></span>

        </span>

        <span class="doc_block_main">

            <span class="doc_block_sub">
                
                <span class="doc_imgblock">
                    <img src="/assets/images/doc_1.jpg" alt="#">
                </span>
                <span class="doc_textblock1">
                    <h1>Omara Abdel-Wahab, MD</h1>
                    <h2>Hematologic Oncologist</h2>
                    <h3>Clinical Expertise</h3>

                    <h4>Leukemia</h4>
                    <h4>Myeloid Malignancies
<p>(myloproliferative neoplasms,
    myelodysplasia, acute myeloid leukemia)</p></h4>




                </span>

                 <span class="doc_textblock2">
                     <h5>Locations
                     <label>New York City</label>
                     </h5>

                     <h6>New Patient Appointments
                     <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>

                      <h6>Office Phone
                       <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>


                </span>

                 <span class="clear"></span>

            </span>
            <span class="doc_block_sub">

                <span class="doc_imgblock">
                    <img src="/assets/images/doc_2.jpg" alt="#">
                </span>
                <span class="doc_textblock1">
                    <h1>Omara Abdel-Wahab, MD</h1>
                    <h2>Hematologic Oncologist</h2>
                    <h3>Clinical Expertise</h3>

                    <h4>Leukemia</h4>
                    <h4>Myeloid Malignancies
<p>(myloproliferative neoplasms,
                        myelodysplasia, acute myeloid leukemia)</p></h4>




                </span>

                 <span class="doc_textblock2">
                     <h5>Locations
                     <label>New York City</label>
                     </h5>

                     <h6>New Patient Appointments
                     <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>

                      <h6>Office Phone
                       <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>


                </span>

                 <span class="clear"></span>

            </span>
            <span class="doc_block_sub">

                <span class="doc_imgblock">
                    <img src="/assets/images/doc_3.jpg" alt="#">
                </span>
                <span class="doc_textblock1">
                    <h1>Omara Abdel-Wahab, MD</h1>
                    <h2>Hematologic Oncologist</h2>
                    <h3>Clinical Expertise</h3>

                    <h4>Leukemia</h4>
                    <h4>Myeloid Malignancies
<p>(myloproliferative neoplasms,
    myelodysplasia, acute myeloid leukemia)</p></h4>




                </span>

                 <span class="doc_textblock2">
                     <h5>Locations
                     <label>New York City</label>
                     </h5>

                     <h6>New Patient Appointments
                     <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>

                      <h6>Office Phone
                       <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>


                </span>

                 <span class="clear"></span>

            </span>
            <span class="doc_block_sub">

                <span class="doc_imgblock">
                    <img src="/assets/images/doc_4.jpg" alt="#">
                </span>
                <span class="doc_textblock1">
                    <h1>Omara Abdel-Wahab, MD</h1>
                    <h2>Hematologic Oncologist</h2>
                    <h3>Clinical Expertise</h3>

                    <h4>Leukemia</h4>
                    <h4>Myeloid Malignancies
<p>(myloproliferative neoplasms,
                        myelodysplasia, acute myeloid leukemia)</p></h4>




                </span>

                 <span class="doc_textblock2">
                     <h5>Locations
                     <label>New York City</label>
                     </h5>

                     <h6>New Patient Appointments
                     <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>

                      <h6>Office Phone
                       <label><a href="tel:+646-497-9154">646-497-9154</a></label>
                     </h6>


                </span>

                 <span class="clear"></span>

            </span>



          <span class="clear"></span>
        </span>


        <button mat-button routerLink="/ourphysicians" class="homeblock4link">View All</button>

    </mat-card>




</mat-card>

