<app-adminheader>
    <span class="admwrapper">
        <!-- <img src="/assets/images/admin_testimonial_img.png" alt="#" style="width: 100%;  "> -->
            <mat-card class="adminnerbannerwrapper"> 
                <mat-card-content class="adminnerbanner"> 
                    <span class="innerbannercontainer">
                        <span class="innerbannerimage">
                            <span class="innerbannerimagemain">
                                <img src="/assets/images/admbanner-testimonial.jpg" alt="#">
                            </span>
                        </span>
                        <span class="content">
                            <mat-card-title class="adminnerbannertitle">Testimonial</mat-card-title>
                            <span class="adminnerbannerpara">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </span>                            
                        </span>
                    </span>
                </mat-card-content>

                <mat-card> 
                    <span class="searchblock">
                        <span class="searchblockwrapper">
                            <span>
                                <h2>Manage Testimonial</h2>
                            </span>
                            <span>
                                <mat-toolbar class="buttonsetToolbar">
                                    <button class="singleButton singleButtonblack" mat-raised-button color="primary" [routerLink]="['/manage-testimonial/add']"><i class="material-icons">add</i> Add a testimonial</button>
                                </mat-toolbar>
                            </span>                    
                        </span>
                    </span>
                    <span class="tablediv">
                        <!-- to listing library -->
                        <lib-testimonial [config]="testimonialListConfig"></lib-testimonial>
                    </span>
                </mat-card>
            </mat-card>
        </span>
    <app-adminfooter></app-adminfooter>        
</app-adminheader>
