
<mat-card class="homeblock2">

    <h1>Medical Journals </h1>


    <mat-card-content>

        <mat-card-subtitle *ngFor="let journal of journalListing | slice:0:indexval ; let i=index">
            <h2 (click)="journalsdetail(journal._id)">{{journal.blogtitle}}</h2>

            <span class="home_block2img" (click)="journalsdetail(journal._id)">  <img src="{{journal.image}}" alt="#" ></span>


            <span class="homeblock2_subtext">
                <h3>
                    {{journal.date}}
               </h3>
                <h4><span [innerHtml]="journal.description"></span></h4>

                <h5>{{journal.author}}</h5>

                <span class="homeblock2_subsociallink">
                        <a class="sociallink fa fb" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fhome%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_1.png" alt="#" >
                        </a>

                        <a class="sociallink fa twi" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fhome%2F{{journal._id}}" target="_blank"><img src="/assets/images/share_this_2.png" alt="#" >
                        </a>

                        <a class="sociallink fa tumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fhome%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_7.png" alt="#" >
                        </a>
                         
                        <a class="sociallink fa lin" href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fdev.gracemedical.influxiq.com%2Fjournals%2F{{journal._id}}" target="_blank">
                            <img src="/assets/images/share_this_4.png" alt="#" >
                        </a>

                        <a class="sociallink fa share" (click)="copyText('https://dev.gracemedical.influxiq.com/home%2F?affid='+journal._id)">
                            <img src="/assets/images/share_this_6.png" alt="#" >
                        </a>
                   
                    
                </span>


                <span class="homeblock2_readlink" (click)="journalsdetail(journal._id)">Read Article</span>


  <span class="clear"></span>
            </span>

            <span class="clear"></span>


        </mat-card-subtitle>
       
        <span class="clear"></span>
        <button mat-button routerLink="/journals" class="homeblock2link">View All Journals</button>

    </mat-card-content>



</mat-card>


