
<mat-card class="homeblock2">

    <h1>Medical Journals </h1>


    <mat-card-content>

        <mat-card-subtitle>
            <h2>Researchers Explore Why Women's
                Alzheimer's Risk Is Higher Than Men's</h2>

            <span class="home_block2img">  <img src="/assets/images/home_block2_img1.jpg" alt="#" ></span>


            <span class="homeblock2_subtext">
                <h3>
                    July 17, 20195:02 AM ET
                    <label>Heard on Morning Edition</label>
               </h3>
                <h4><span>Scientists are beginning to
understand why Alzheimer's
                    disease affects more ...............</span></h4>

                <h5>JON HAMILTON</h5>

                <span class="homeblock2_subsociallink">

                     <img src="/assets/images/share_this_1.png" alt="#" >
                    <img src="/assets/images/share_this_2.png" alt="#" >
                    <img src="/assets/images/share_this_3.png" alt="#" >
                    <img src="/assets/images/share_this_4.png" alt="#" >
                    <img src="/assets/images/share_this_5.png" alt="#" >
                    <img src="/assets/images/share_this_6.png" alt="#" >
                </span>


                <span class="homeblock2_readlink" routerLink="/journals">Read Article</span>


  <span class="clear"></span>
            </span>

            <span class="clear"></span>


        </mat-card-subtitle>
        <mat-card-subtitle>
            <h2>Study links higher body weight later in life to faster brain aging</h2>

            <span class="home_block2img">  <img src="/assets/images/home_block2_img2.jpg" alt="#" ></span>

            <span class="homeblock2_subtext">
                <h3>
                    March 20, 2019
                    <label>Carolyn Robertson</label>
               </h3>
                <h4><span>A new study has identified an association between having a higher body mass and larger waist later in life ...........</span></h4>

                <h5>Loremipsum</h5>

                <span class="homeblock2_subsociallink">

                     <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                </span>


                <span class="homeblock2_readlink" routerLink="/journals">Read Article</span>


  <span class="clear"></span>
            </span>

            <span class="clear"></span>


        </mat-card-subtitle>
        <mat-card-subtitle>
            <h2>Study introduces 'the Big Bang Theory of migraine'</h2>

            <span class="home_block2img">  <img src="/assets/images/home_block2_img3.jpg" alt="#" ></span>

            <span class="homeblock2_subtext">
                <h3>
                   22 July 2019
                    <label>Jasmin Collier</label>
               </h3>
                <h4><span>Girls who approach puberty at a more rapid rate than their peers may be at higher risk  ..................</span></h4>

                <h5>Loremipsum</h5>

                <span class="homeblock2_subsociallink">

                     <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                </span>


                <span class="homeblock2_readlink" routerLink="/journals">Read Article</span>


  <span class="clear"></span>
            </span>

            <span class="clear"></span>


        </mat-card-subtitle>
        <span class="clear"></span>
        <button mat-button routerLink="/journals" class="homeblock2link">View All Journals</button>

    </mat-card-content>



</mat-card>


