<app-adminheader>
    <span style="display: block; position: relative;">
<img src="/assets/images/admin-dashboard-img.jpg" alt="#" style="width: 100%;  ">


    <button mat-button routerLink="/admin_patients" style="width: 9%;
    height: 1.5%;
    position: absolute;
    left: 21.2%;
    top: 31.3%;"></button>



    <button mat-button routerLink="/training_report" style="width: 9%;
    height: 1.5%;
    position: absolute;
    right: 21.2%;
    top: 31.3%;"></button>


          <button mat-button routerLink="/admin_doctors" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 56.3%;"></button>



         <button mat-button routerLink="/admin_appointments" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 72.6%;"></button>


              <button mat-button routerLink="/admin_social_advo" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 97.4%;"></button>
        </span>
    <app-adminfooter></app-adminfooter>
</app-adminheader>

