<app-adminheader>

<!-- <mat-card class="topbannerblock dashboardbanner">
  <span class="dashboardcontainer">
    <mat-card-content class="dashboardtextwrapper">
      <h2>
        <span>Lorem Ipsum</span>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
      </h2>
      <h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        <span>Lorem Ipsum has been the industry's standard dummy</span> text ever since the 1500s, when an unknown printer took a galley 
        of type and scrambled it to make a type specimen book.
      </h3>
  </mat-card-content>
  </span>
</mat-card>
<mat-card class="dashbordblock2">
    <span class="dashboardcontainer">
        <mat-list class="block2content">
            <mat-list-item class="table1"> 
              <mat-card-title class="tabtitle">Patients</mat-card-title>
            </mat-list-item>
            <mat-list-item class="table2"> 
                <mat-card-title class="tabtitle">Training Reports</mat-card-title>
            </mat-list-item>
           </mat-list>
    </span>
</mat-card> -->

    <span style="display: block; position: relative;">
<img src="/assets/images/admin-dashboard-img.jpg" alt="#" style="width: 100%;">


    <button mat-button routerLink="/admin_patients" style="width: 9%;
    height: 1.5%;
    position: absolute;
    left: 21.2%;
    top: 31.3%;"></button>



    <button mat-button routerLink="/training_report" style="width: 9%;
    height: 1.5%;
    position: absolute;
    right: 21.2%;
    top: 31.3%;"></button>


          <button mat-button routerLink="/admin_doctors" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 56.3%;"></button>



         <button mat-button routerLink="/admin_appointments" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 72.6%;"></button>


              <button mat-button routerLink="/admin_social_advo" style="width: 9%;
    height: 1.5%;
    position: absolute;
  right: 45.5%;
    top: 97.4%;"></button>
        </span>
    <app-adminfooter></app-adminfooter>
</app-adminheader>

