<app-adminheader>
    <span style="display: block; position: relative;">
    <img src="/assets/images/admin_newsletter_img.png" alt="#" style="width: 100%;  ">

          <button mat-button routerLink="/admin_newsletter" style="  width: 10.3%;
    height: 3.4%;
    position: absolute;
    left: 2.7%;
    top: 29%; "></button>

          <button mat-button routerLink="/admin_subscribers" style="  width: 9.9%;
    height: 3.4%;
    position: absolute;
    left: 13%;
    top: 29%;  "></button>


          <button mat-button routerLink="/admin_news_settings" style="  width: 10%;
    height: 3.4%;
    position: absolute;
    left: 23%;
    top: 29%; "></button>
    </span>
    <app-adminfooter></app-adminfooter>
</app-adminheader>