<app-adminheader>


      <mat-card class="newsletter_banner">
            <img src="/assets/images/newsletter_bannerimg.jpg" alt="#" >

            <span class="newsletter_banner_block">

                  <span class="newsletter_banner_block_wrapper">
                     
                        <h2>Newsletter</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type specimen book.</p>


                  </span>

            </span>

      </mat-card>



      <mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>





    <span style="display: block; position: relative;">
    <img src="/assets/images/admin_newsletter_img.png" alt="#" style="width: 100%;  ">

          <button mat-button routerLink="/admin_newsletter" style="  width: 10.3%;
    height: 3.4%;
    position: absolute;
    left: 2.7%;
    top: 29%; "></button>

          <button mat-button routerLink="/admin_subscribers" style="  width: 9.9%;
    height: 3.4%;
    position: absolute;
    left: 13%;
    top: 29%;  "></button>


          <button mat-button routerLink="/admin_news_settings" style="  width: 10%;
    height: 3.4%;
    position: absolute;
    left: 23%;
    top: 29%; "></button>
    </span>
    <app-adminfooter></app-adminfooter>
</app-adminheader>