<app-homefrontendheader></app-homefrontendheader>



<mat-card class="journals_banner">
    <span class="journals_banner_wrapper">
 <span class="journals_banner_wrapper_text">
         <h2>Medical Journals</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>


<mat-card class="journals_wrapper">

    <mat-card-content class="journals_block_left">


        <span class="journals_search">

            <form>

                <mat-form-field >
                 <input matInput placeholder="Enter a search term ">
               </mat-form-field>

                 <mat-form-field >
                 <input matInput placeholder="Enter a search term ">
               </mat-form-field>



                   <button>Search</button>
   <span class="clear"></span>

            </form>
        </span>

        <span class="clear"></span>

        <span class="journals_blog">



                <h2>Researchers Explore
Why Women's Alzheimer's
Risk Is Higher Than Men's
</h2>



                     <span class="journals_blog_img">

                <img src="assets/images/blogdetailimg.jpg" alt="#" class="journalsmainimg">
                 <span class="journals_blog_share">

 <img src="/assets/images/share_this_1.png" alt="#" >
    <img src="/assets/images/share_this_2.png" alt="#" >
    <img src="/assets/images/share_this_3.png" alt="#" >
    <img src="/assets/images/share_this_4.png" alt="#" >
    <img src="/assets/images/share_this_5.png" alt="#" >
    <img src="/assets/images/share_this_6.png" alt="#" >
                        </span>


            </span>


                <h3>JON HAMILTON, July 17, 2019 </h3>
                <h4>Scientists are beginning to understand why Alzheimer's disease affects more women than men and why the disease seems to progress more quickly in
women's brains. The explanation appears to involve social, biological and genetic differences, researchers reported Tuesday at the Alzheimer's.</h4>









         <span class="clear"></span>

        </span>









    </mat-card-content>


    <mat-card-content class="journals_block_right">

        <h2>Lorem ipsum dolor </h2>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="3">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="4">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="3">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>


                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="5">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="2">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>



                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <label     matBadge="4">Lorem ipsum dolor </label>

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>

                <mat-panel-description>
                    <label>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</label>
                </mat-panel-description>



            </mat-expansion-panel>

        </mat-accordion>


    </mat-card-content>

    <span class="clear"></span>



</mat-card>









<app-homefrontendfooter></app-homefrontendfooter>