
<mat-card class="homeblock6">
    <mat-card class="homeblock6_wrapper">

        <h2>What Our Customers Say About Us</h2>



        <mat-carousel [autoplay]="true"  [hideArrows]="false" proportion="0" orientation="rtl" >

            <mat-carousel-slide *ngFor="let testmonhome of TestimonialListArray">

              <span class="slidercontain">

                <span class="homeblock6_img"><img src="{{testmonhome.testimonial_image}}" alt="#"  ></span>


                <span class="homeblock6_text">
<img src="/assets/images/home_tes_blockimg2.png" alt="#" class="homequotationimg1" >
                    
                    <p class="truncate" [ngClass]="{'truncate truncateopen':testmonhome._id == p_id }">                                    
                        <span [innerHtml]="testmonhome.description"></span>                           
                    </p>
                    <span class="homeblock6readmorelink" *ngIf="testmonhome.description != '' && testmonhome != '' && testmonhome.description.length >= 254 " [ngClass]="{'hide':testmonhome._id == p_id}" (click)="showmore(testmonhome)">Read More...</span>
                    <img src="/assets/images/home_tes_blockimg3.png" alt="#"  class="homequotationimg1">
<span class="clear"></span>
                    <label>{{testmonhome.name}}</label>
                    <!-- <span class="homeblock6_rating">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>

                    </span> -->


                </span>


            </span>
            </mat-carousel-slide>

            

        </mat-carousel>

<span class="clear"></span>

        <button mat-button routerLink="/testimonial" class="homeblock6link">View All</button>
    </mat-card>

</mat-card>