<app-homefrontendheader></app-homefrontendheader>


<mat-card-content class="slideshow-container">
    <mat-card-content class="mySlides fade">

        <img src="assets/images/home_top_banner.jpg"  >
        <mat-card-content class="banner_text">
          <span class="banner_text_span">

              <h1>Specializing in You</h1>
              <h2>Our team of doctors, nurses,
and full staff will produce
a plan tailored to your specific needs. </h2>

               <img src="assets/images/home_banner_textimg.png" class="home_banner_textimg"  >

          </span>
        </mat-card-content>
    </mat-card-content>
    <mat-card-content class="mySlides fade">

        <img src="assets/images/home_top_banner.jpg"  >
        <mat-card-content class="banner_text">
            <span class="banner_text_span">

                <h1>Specializing in You</h1>
              <h2>Our team of doctors, nurses,
and full staff will produce
a plan tailored to your specific needs. </h2>
           <img src="assets/images/home_banner_textimg.png" class="home_banner_textimg"  >
            </span>
        </mat-card-content>
    </mat-card-content>
    <mat-card-content class="mySlides fade">

        <img src="assets/images/home_top_banner.jpg" >
        <mat-card-content class="banner_text">
            <span class="banner_text_span">

                <h1>Specializing in You</h1>
              <h2>Our team of doctors, nurses,
and full staff will produce
a plan tailored to your specific needs. </h2>
             <img src="assets/images/home_banner_textimg.png" class="home_banner_textimg"  >
            </span>
        </mat-card-content>
    </mat-card-content>
    <!-- dotted brother -->
    <mat-card-content class="dot_section" (click)="activeclick($event)">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </mat-card-content>
</mat-card-content>



<app-homeblog></app-homeblog>

<app-homeservices></app-homeservices>

<app-homedoctors></app-homedoctors>

<app-hometestimonial></app-hometestimonial>



<mat-card class="homeblock5">
    <mat-card class="homeblock5_wrapper">

        <h2>Why Grace Medical</h2>

        <p>Grace Medical strives to advance your healthcare experience through Innovation, Compassion,
            and Exceptional services. We promote the health and well-being of the community’s needs by providing
            accessible high-quality medical care for people of all ages. Grace Medical is committed to providing
            services that will exceed the expectations of our patients, resulting in focused patient-care,
            the importance of preventative care and yearly check-ups.
             <br/> <br/>
            Our preventative healthcare services are focused towards keeping our patients in premium health conditions. We not only help our patients recover from existing health conditions, but also work towards enabling them to prevent developing new ones in the future, thereby leading healthier and more fulfilling lives along the way.
        </p>

        <button mat-button routerLink="/contactus" class="homeblock5link">Learn More</button>

        <span class="clear"></span>


    </mat-card>
</mat-card>


<app-homegallery></app-homegallery>





<app-homefrontendfooter></app-homefrontendfooter>