<app-homefrontendheader></app-homefrontendheader>
<mat-card class="appointment_banner">
    <span class="appointment_banner_wrapper">
 <span class="appointment_banner_wrapper_text">
         <h2>Making an Appointment</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
 </span>
    </span>

</mat-card>


<mat-card class="appointment_block1">

    <h2>Lorem ipsum dolor sit amet, consectetur </h2>


    <mat-card class="appointment_block1_sub">

        <span class="appointment_block1_sub_img">  <img src="/assets/images/appointment_img1.jpg"  /></span>
        <span class="appointment_block1_sub_text">

           <span class="appointment_block1_sub_text_wrapper">

                 <span class="appointment_block1_sub_text_span">

                     <span class="appointment_block1_sub_text_span_wrapper">
            <h3>Make an Appointment</h3>
            <p>
                To make an appointment, call <a href="tel:+307-320-0820">307-320-0820</a>. If you are looking to book an appointment with any of our three locations this number is set for all three.
<br/><br/>
You or your loved one can also request an appointment online by filling out the needed form.
<br/><br/>
You do not need a referral to make an appointment with one of our
specialists. The representatives who staff our appointment lines are
knowledgeable, well trained, and sensitive, and they can answer many of your questions.


            </p>

</span>
</span>
</span>
        </span>
  </mat-card>

    <mat-card class="appointment_block1_sub">

        <span class="appointment_block1_sub_img">  <img src="/assets/images/appointment_img2.jpg"  /></span>
        <span class="appointment_block1_sub_text">

           <span class="appointment_block1_sub_text_wrapper">

                 <span class="appointment_block1_sub_text_span">

                     <span class="appointment_block1_sub_text_span_wrapper">
            <h3>Check Your Insurance </h3>
            <p>


Make sure your insurance plan provides coverage for the services you are seeking. If you are unsure we recommend reaching out to your insurance company, or you may call us with any questions at  <a href="tel:+307-320-0844">307-320-0844</a>.
<br/><br/>
Our Patient Financial Services department will ensure that this is all taken care of by explaining your benefits and they will review any pre-authorization requirements (your insurance agrees that your care is medically necessary).
<br/><br/>
                If you do not have health insurance or if the insurance company will not cover the whole bill we do have financial options that may help in this scenario. With any questions regarding this please call  <a href="tel:+307-320-0844">307-320-0844</a>.


            </p>

</span>
</span>
</span>
        </span>
    </mat-card>

    <mat-card class="appointment_block1_sub">

        <span class="appointment_block1_sub_img">  <img src="/assets/images/appointment_img3.jpg"  /></span>
        <span class="appointment_block1_sub_text">

           <span class="appointment_block1_sub_text_wrapper">

                 <span class="appointment_block1_sub_text_span">

                     <span class="appointment_block1_sub_text_span_wrapper">
            <h3>Prepare For Your Visit</h3>
            <p>
The representative who helps you schedule your appointment will provide you with all the details that will be needed for your knowledge to be fully prepared for the day of your appointment. They will email you with instructions as well so you have them handy.



            </p>

</span>
</span>
</span>
        </span>
    </mat-card>
    <mat-card class="appointment_block1_sub">

        <span class="appointment_block1_sub_img">  <img src="/assets/images/appointment_img4.jpg"  /></span>
        <span class="appointment_block1_sub_text">

           <span class="appointment_block1_sub_text_wrapper">

                 <span class="appointment_block1_sub_text_span">

                     <span class="appointment_block1_sub_text_span_wrapper">
            <h3>Check Your Insurance </h3>
            <p>
When you arrive for your appointment and you are fully checked in you will be introduced to all of the staff that will be taking care of you during your visit. Each member has been chosen for your specific needs and are specialized in the needs of your care. Having a specific team benefits you with their skill sets working together to ensure you have the best experience possible.




            </p>

</span>
</span>
</span>
        </span>
    </mat-card>

    <mat-card class="appointment_block1_sub">

        <span class="appointment_block1_sub_img">  <img src="/assets/images/appointment_img5.jpg"  /></span>
        <span class="appointment_block1_sub_text">

           <span class="appointment_block1_sub_text_wrapper">

                 <span class="appointment_block1_sub_text_span">

                     <span class="appointment_block1_sub_text_span_wrapper">
            <h3>Let Us Support You      </h3>
            <p>
After your visit we are still dedicated to ensure your experience has been well cared for. If you need any help understanding financial issues or need assistance with recovery we have programs that are targeted to alleviate pressure on you.






            </p>

</span>
</span>
</span>
        </span>
    </mat-card>

</mat-card>

<app-homefrontendfooter></app-homefrontendfooter>
