.contact_banner{display: block; width: 100%; padding: 0; clear: both; overflow: hidden; outline: none!important;
     border: none!important; margin: 0!important; border-radius: 0px!important; box-shadow: none!important;
      background: url("../../../../assets/images/appointmentbg1.png") no-repeat right top!important; background-size: 1920px!important;
       height: 376px!important;}

.contact_banner_wrapper{ width: 100vw; height: 376px; display: table-cell; text-align: center; vertical-align: middle;  }

.contact_banner_wrapper_text{ width: 770px; margin: 0 0 0 14%; display: block;}

.contact_banner_wrapper_text h2{ margin: 0; padding: 0; font-size: 60px; color: #13b9af; font-family:"HelveticaBold";}

.contact_banner_wrapper_text h3{ display: block; width: 525px; margin: 0 auto; margin-top: 20px; background: url("../../../../assets/images/contact_banner_textimg.png") no-repeat center bottom; padding-bottom: 40px; font-size: 24px; color: #3d3d3d; font-family: 'Helvetica-Normal'; font-weight: normal; line-height: 28px; }

.asappointmentcontainer{width: 1685px; margin: 0 auto; display: block;box-shadow: none; padding: 0;background: none;}


.searchwrapper{display: flex; justify-content: center; flex-wrap: wrap; width: 1020px;margin: 0 auto;}

.searchwrapper mat-card-content{width: 50%;height: auto;}
.searchwrapper mat-card-content:nth-child(2){width: 37%;}
.searchwrapper mat-card-content input{
    height: 35px !important;
    padding: 0 5px !important;
    width: 247px !important;
    background-color: #eceeef;
    border: 1px solid #b8b8b9;font-family: 'Helvetica-Normal';
}

.searchwrapper mat-card-content input::placeholder { color: #3d3d3d; opacity: 1; font-family: 'Helvetica-Normal';}
  
  .searchwrapper mat-card-content input:-ms-input-placeholder {color: #3d3d3d; font-family: 'Helvetica-Normal';}
  
  .searchwrapper mat-card-content input::-ms-input-placeholder { color: #3d3d3d; font-family: 'Helvetica-Normal';}
.seatchtitle {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    color: #0291d4;
    font-family: 'Helvetica-Normal';
}

.titlewrapper h2 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 30px;
    color: #3d3d3d;
    font-family: 'Helvetica-Normal';
    text-transform: uppercase;
    text-align: center;
}
.titlewrapper{
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d3d4d4;
    width: fit-content;
}
.titlewrapper p{
    font-size: 18px;
    color: #3d3d3d;
    font-family: 'Helvetica-Normal';
    width: 625px;
    margin: 0 auto;
    text-align: center;
}
.button1, .button2{
    height: 38px;
    background-color: #02a4ef;
    color: #fff;
    width: 104px;
    border-radius: 0;
    margin: 0 2px;
    font-size: 18px;
    font-family: 'Helvetica-Normal';
}
.button2{background-color: #13b9af;}
.block h4{
    color: #046997;
    font-family: 'Helvetica-Normal';
    font-size: 18px;
    margin: 0;
    line-height: 29px;
    padding-bottom: 15px;
}
.block .button1{border: 0;}
.block p, .block h5{
    color: #3d3d3d;
    font-family: 'Helvetica-Normal';
    font-size: 18px;
    display: block;
    margin: 0;
    padding: 2px 0;
    font-weight: normal;
}
.block h5{text-align: center; padding-bottom: 15px;}

.block .button1{float:right; display: block;}

.blockwraooer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}
.block {
    width: 22% !important;
    height: auto !important;
    background: #dde1e3;
    margin: 5px;
    border: 1px solid #cbcfd1;
    padding: 15px !important;
    border-radius: 5px;
}

.textwrapper{
    background-color: #fff;
    margin: 0;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,.36);
}

.asappointmentmainwrapper{background-color: #eceeef; display: flex;}
.paginationwrapper{display: inline-block; text-align: center; width: 100%;padding: 40px 0;}
.paginationsubwrapper{background-color: #fff; border-radius: 5px; border: 1px solid #bac1c7;display: flex; justify-content: space-between;padding: 0;
    width: fit-content; margin: 0 auto;}
.paginationsubwrapper mat-list-item{border-right: 1px solid #bac1c7; cursor: pointer;}
.paginationsubwrapper mat-list-item:nth-last-child(1){border: 0;}
.active{background: #02a4ef; color: #fff;}








@media(max-width:1720px) {
    .asappointmentcontainer{width: 96%;}
}


@media(max-width:1680px) {
    .contact_banner_wrapper_text{margin: 0 0 0 2%;}
}
@media(max-width:1600px) {
    .block{width: 30% !important;}
}
@media(max-width:1500px) {
    .contact_banner {background-position: right -90px top !important;}
}
@media(max-width:1360px) {
    .contact_banner{
        background-position: right -248px top !important;
    }
}
@media(max-width:1320px) {
    .block{width: 28% !important;}
}
@media(max-width:1200px) {
    .block{width: 44% !important;}
}
@media(max-width:1199px) {
    .contact_banner {
        background-position: right top !important;
        height: auto !important;
        background-size: 200% !important;
        padding-top: 39%;
        background-color: #d2dee5 !important;
    }
    .contact_banner_wrapper{height: auto;}
    .contact_banner_wrapper_text{margin: 0 auto; padding: 30px 0;}
}
@media(max-width:1024px) {
    .searchwrapper{width: 100%;}
    .searchwrapper mat-card-content{width: 488px;}
    .searchwrapper mat-card-content:nth-child(2) {
        width: 367px;
    }
}

@media(max-width:991px) {
    .contact_banner_wrapper_text{width: 100%;}
    .searchwrapper {
        width: 476px;
    }
    .searchwrapper mat-card-content {
        width: 488px;
    }
    .searchwrapper mat-card-content:nth-child(2) {
        width: 476px;
    }
}

@media(max-width:768px) {
    .block{
        width: 100% !important;
    }
    .titlewrapper p{width: 100%;}
}


@media(max-width:600px) {
    .contact_banner_wrapper_text h3 {
        display: block;
        width: 100%;}
}
@media(max-width:520px) {
    .searchwrapper mat-card-content input{width: 211px !important;}
}
@media(max-width:520px) {
    .paginationsubwrapper mat-list-item:nth-last-child(2){display: none;}
    .paginationsubwrapper mat-list-item:nth-last-child(3){display: none;}
    .paginationsubwrapper mat-list-item:nth-last-child(4){display: none;}
    .searchwrapper{width: 100%;}
    .searchwrapper mat-card-content:nth-child(2) {
        width: 100%;
    }
    .searchwrapper mat-card-content {
        width: 100%;
    }
}







