<app-homefrontendheader></app-homefrontendheader>


<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
        <span class="contact_banner_wrapper_text">
            <h2>Schedule Appointment</h2>
            <h3>Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem
                Ipsum has been the industry's</h3>
        </span>
    </span>

</mat-card>
<span class="asappointmentmainwrapper">
    <mat-card class="asappointmentcontainer">

        <mat-card-content class="titlewrapper">
            <h2>Select your appointment as per your convenience.</h2>
            <p>Please select your Time Zone carefully to eliminate any confusion.
                Your scheduled appointment will be confirmed and mailed to you accordingly.</p>
        </mat-card-content>
        <span class="searchwrapper">
            <mat-card-content>
                <span class="seatchtitle">Search by Date</span>
                <input matInput type="text" placeholder="Search by Date Range">
                <button mat-button class="button1">Search</button>
                <button mat-button class="button2">Show All</button>
            </mat-card-content>
            <mat-card-content>
                <span class="seatchtitle">My Timezone</span>
                <input matInput type="text" placeholder="Set Timezone">
                <button mat-button class="button1">update</button>
            </mat-card-content>
        </span>

        <span class="blockmainwrapper">
            <mat-list class="blockwraooer">
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>
                <mat-list-item class="block">
                    <mat-card-content class="textwrapper">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Date: 10/20/2019</p>
                        <p>Time: 08:30 AM - 10:00 AM</p>
                        <p>Timezone : Mountain Standard Time</p>
                        <h5> (GMT-07:00) (no DST)</h5>
                        <button mat-buttom class="button1"> search</button>
                    </mat-card-content>
                </mat-list-item>

            </mat-list>
        </span>
        <span class="paginationwrapper">
            <mat-list class="paginationsubwrapper">
                <mat-list-item> <img src="../../../../assets/images/leftarrow.png"> </mat-list-item>
                <mat-list-item class="active"> 1 </mat-list-item>
                <mat-list-item> 2 </mat-list-item>
                <mat-list-item> 3 </mat-list-item>
                <mat-list-item> 4 </mat-list-item>
                <mat-list-item> 5 </mat-list-item>
                <mat-list-item> 6 </mat-list-item>
                <mat-list-item> 7 </mat-list-item>
                <mat-list-item> 8 </mat-list-item>
                <mat-list-item> <img src="../../../../assets/images/righticon.png">  </mat-list-item>
            </mat-list>
        </span>

    </mat-card>

</span>


<!-- <img src="/assets/images/sacheduleappointment_img1.jpg" alt="#" style="width: 100%; "> -->
<!-- <img src="/assets/images/sacheduleappointment_img2.jpg" alt="#" style="width: 100%; margin-top: -4px; "> -->


<app-homefrontendfooter></app-homefrontendfooter>