<app-homefrontendheader></app-homefrontendheader>
<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
 <span class="contact_banner_wrapper_text">
         <h2>Grace Medical Services </h2>
        <h3>Everyone at Grace Medical and our affiliates work hard every day of the year to provide patients with high-quality
             healthcare services in a caring and compassionate manner. </h3>
 </span>
    </span>

</mat-card>
<span class="servicemaincontainer">
<mat-card class="servecemainwrapper">
 <mat-card-subtitle class="servecetextwrapper">
  <h2>Lorem ipsum dolor sit amet</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
 </mat-card-subtitle>


 <mat-list class="serveceblockwrapper">
    <mat-list-item class="servecerow" *ngFor="let item of serviceData">  
        <span class="servececol servececolimgwrapper">
            <img src="{{ item.service_img }}">

            <span class="servecesowrapper">
                <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                <a><img alt="#" src="/assets/images/share_this_6.png"></a>
            </span>

        </span>
        <span class="servececol">
            <mat-card-content class="serviceblocktextwrapper">
            <h3><strong class="blockicon"><img src="{{ item.additional_img }}"></strong>
                <strong class="blocktext"> <span [innerHtml]="item.service_title"></span> <i>(Lorem ipsum dolor sit amet)</i></strong>
            </h3>
            <p><span [innerHtml]="item.description"></span></p>
        </mat-card-content>
        </span>
    </mat-list-item>

   </mat-list>
</mat-card>
</span>
<!-- <img src="/assets/images/services_img2.jpg" alt="#" style="width: 100%; margin-top: -4px; "> -->


<app-homefrontendfooter></app-homefrontendfooter>