<app-homefrontendheader></app-homefrontendheader>
<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
 <span class="contact_banner_wrapper_text">
         <h2>Grace Medical Services </h2>
        <h3>Everyone at Grace Medical and our affiliates work hard every day of the year to provide patients with high-quality
             healthcare services in a caring and compassionate manner. </h3>
 </span>
    </span>

</mat-card>
<span class="servicemaincontainer">
<mat-card class="servecemainwrapper">
 <mat-card-subtitle class="servecetextwrapper">
  <h2>Lorem ipsum dolor sit amet</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
 </mat-card-subtitle>
 <mat-list class="serveceblockwrapper">
    <mat-list-item class="servecerow">  
        <span class="servececol servececolimgwrapper">
            <img src="../../../../assets/images/serveceblockimg1.png">

            <span class="servecesowrapper">
                <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                <a><img alt="#" src="/assets/images/share_this_6.png"></a>
            </span>

        </span>
        <span class="servececol">
            <mat-card-content class="serviceblocktextwrapper">
            <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon1.png"></strong>
                <strong class="blocktext">Lorem ipsum dolor sit amet <i> (Lorem ipsum dolor sit amet)</i></strong>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </mat-card-content>
        </span>
    </mat-list-item>
    <mat-list-item class="servecerow">  
            <span class="servececol servececolimgwrapper">
                <img src="../../../../assets/images/serveceblockimg2.png">
                <span class="servecesowrapper">
                        <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_6.png"></a>
                    </span>
            </span>
            <span class="servececol">
                <mat-card-content class="serviceblocktextwrapper">
                <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon2.png"></strong>
                    <strong class="blocktext">Lorem ipsum dolor sit amet </strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </mat-card-content>
            </span>
    </mat-list-item>
    <mat-list-item class="servecerow">  
            <span class="servececol servececolimgwrapper">
                <img src="../../../../assets/images/serveceblockimg3.png">
                <span class="servecesowrapper">
                        <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_6.png"></a>
                    </span>
            </span>
            <span class="servececol">
                <mat-card-content class="serviceblocktextwrapper">
                <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon3.png"></strong>
                    <strong class="blocktext">Lorem ipsum dolor sit amet <i> (Lorem ipsum dolor sit amet)</i></strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </mat-card-content>
            </span>
    </mat-list-item>
    <mat-list-item class="servecerow">  
            <span class="servececol servececolimgwrapper">
                <img src="../../../../assets/images/serveceblockimg4.png">
                <span class="servecesowrapper">
                        <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_6.png"></a>
                    </span>
            </span>
            <span class="servececol">
                <mat-card-content class="serviceblocktextwrapper">
                <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon4.png"></strong>
                    <strong class="blocktext">Lorem ipsum dolor sit amet <i> (Lorem ipsum dolor sit amet)</i></strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </mat-card-content>
            </span>
    </mat-list-item>
    <mat-list-item class="servecerow">  
            <span class="servececol servececolimgwrapper">
                <img src="../../../../assets/images/serveceblockimg5.png">
                <span class="servecesowrapper">
                        <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_6.png"></a>
                    </span>
            </span>
            <span class="servececol">
                <mat-card-content class="serviceblocktextwrapper">
                <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon3.png"></strong>
                    <strong class="blocktext">Lorem ipsum dolor sit amet <i> (Lorem ipsum dolor sit amet)</i></strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </mat-card-content>
            </span>
    </mat-list-item>
    <mat-list-item class="servecerow">  
            <span class="servececol servececolimgwrapper">
                <img src="../../../../assets/images/serveceblockimg6.png">
                <span class="servecesowrapper">
                        <a><img alt="#" src="/assets/images/share_this_1.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_2.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_3.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_4.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_5.png"></a>
                        <a><img alt="#" src="/assets/images/share_this_6.png"></a>
                    </span>
            </span>
            <span class="servececol">
                <mat-card-content class="serviceblocktextwrapper">
                <h3><strong class="blockicon"><img src="../../../../assets/images/serviceicon4.png"></strong>
                    <strong class="blocktext">Lorem ipsum dolor sit amet <i> (Lorem ipsum dolor sit amet)</i></strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </mat-card-content>
            </span>
    </mat-list-item>
   </mat-list>
</mat-card>
</span>
<!-- <img src="/assets/images/services_img2.jpg" alt="#" style="width: 100%; margin-top: -4px; "> -->


<app-homefrontendfooter></app-homefrontendfooter>