<app-homefrontendheader></app-homefrontendheader>
<mat-card class="contact_banner">
    <span class="contact_banner_wrapper">
 <span class="contact_banner_wrapper_text">
         <h2>Grace Medical Services </h2>
        <h3>Everyone at Grace Medical and our affiliates work hard every day of the year to provide patients with high-quality
             healthcare services in a caring and compassionate manner. </h3>
 </span>
    </span>

</mat-card>
<span class="servicemaincontainer">
<mat-card class="servecemainwrapper">
 <mat-card-subtitle class="servecetextwrapper">
  <h2>WE MAKE A COMMITMENT TO YOUR GOOD HEALTH!</h2>
  <p>We are committed to you and dedicated to excellence and progress. We provide a wide variety of inpatient and outpatient services. The clinical programs and medical facilities are continuously updated to meet both the changing needs of the community and the advances made by new discoveries and innovations in technology.
</p>
 </mat-card-subtitle>


 <mat-list class="serveceblockwrapper">
    <mat-list-item class="servecerow" *ngFor="let item of serviceData">  
        <span class="servececol servececolimgwrapper">
            <img src="{{ item.service_img }}">

            <span class="servecesowrapper">
                <a class="sociallink fa fb" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdev.arniefonseca.influxiq.com%2Fourservices%2F{{item._id}}" target="_blank">
                    <img alt="#" src="/assets/images/share_this_1.png">
                </a>
                <a class="sociallink fa twi" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdev.arniefonseca.influxiq.com%2Fourservices%2F{{item._id}}" target="_blank">
                    <img alt="#" src="/assets/images/share_this_2.png">
                  </a>
                  <a class="sociallink fa lin" href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fdev.arniefonseca.influxiq.com%2Fourservices%2F{{item._id}}" target="_blank">
                    <img alt="#" src="/assets/images/share_this_4.png">
                  </a>
                <!-- <a><img alt="#" src="/assets/images/share_this_5.png"></a> -->
                <a (click)="copyText('https://dev.arniefonseca.influxiq.com/blog%2F?affid='+item._id)">
                    <img alt="#" src="/assets/images/share_this_6.png">
                </a>
            </span>

        </span>
        <span class="servececol">
            <mat-card-content class="serviceblocktextwrapper">
            <h3><strong class="blockicon"><img src="{{ item.additional_img }}"></strong>
                <strong class="blocktext"> <span [innerHtml]="item.service_title"></span> </strong>
            </h3>
            <p class="serviceptext"><span [innerHtml]="item.description"> </span></p>


            <a href="javascript:void(0)" (click)="openDialog(item)" class="servicesdetailbtn">View Detail</a>
        </mat-card-content>
        </span>
    </mat-list-item>

   </mat-list>
</mat-card>
</span>
<!-- <img src="/assets/images/services_img2.jpg" alt="#" style="width: 100%; margin-top: -4px; "> -->


<app-homefrontendfooter></app-homefrontendfooter>